In [1]:
import numpy as np
import csv
import pandas as pd
from sklearn.preprocessing import StandardScaler
from sklearn.neighbors import KNeighborsClassifier, KNeighborsRegressor
from sklearn.preprocessing import LabelEncoder


#reads in the data
data = pd.read_csv('movie_metadata.csv')

#removes the values that aren't numeric
to_drop = ['director_name', 'num_critic_for_reviews', 'actor_2_name','actor_1_name', 'movie_title', 'num_voted_users'
           , 'actor_3_name', 'plot_keywords', 'movie_imdb_link', 'num_user_for_reviews']

#makes the new data set without the to_drop colums
features_list = data.columns.difference(to_drop)
movie_data = data[features_list]
#print(np.sum(movie_num.isnull()))
#print(movie_data.content_rating.unique())
pd.options.mode.chained_assignment = None 

        
print('Done')

Done

# Changing Genres into individual Columns

In [2]:
genres = []

for string in movie_data['genres']:
    genre = string.split('|')
    genres = genres+genre
    
genres_set = set(genres)
print(genres_set)

set(['Sci-Fi', 'Crime', 'Romance', 'Animation', 'Music', 'Comedy', 'War', 'Horror', 'Film-Noir', 'Adventure', 'News', 'Reality-TV', 'Thriller', 'Western', 'Mystery', 'Short', 'Drama', 'Action', 'Documentary', 'Musical', 'History', 'Family', 'Fantasy', 'Game-Show', 'Sport', 'Biography'])

In [3]:
genres_dict = dict()
for genre in genres_set:
    genres_dict[genre] = []
    
for string in movie_data.genres:
    genres = string.split('|')
    for genre in genres_set:
        if genre in genres:
            genres_dict[genre] = genres_dict[genre]+[1]
        else:
            genres_dict[genre] = genres_dict[genre]+[0]

del movie_data['genres']
#print(genres_dict['Short'])

for genre in genres_set:
    series = pd.Series(genres_dict[genre])
    movie_data[genre] = series

#print(movie_data['Short'].values)    
print('Done')

Done

# Deleting NaNs

In [4]:
NA_THRESH = 4

#deletes the row when there are more or equal to the threshod number of NaN's
def remove_too_many_NaN(data, threshold):
    print("Length before deletion: {}".format(len(data)))

    remove_indices = []
    for index, nNaN in data.isnull().sum(axis=1).iteritems():
        if nNaN >= threshold:
            remove_indices.append(index)
    
    # drop movies with too many NaNs
    data = data.drop(data.index[remove_indices])
    print("Length after deletion: {}".format(len(data)))
    
    return data

#returns length
movie_data = remove_too_many_NaN(movie_data, NA_THRESH)

Length before deletion: 5043
Length after deletion: 4900

# Changing Color to Numeric

In [5]:
#replaces the color value to 1
movie_data.color = movie_data.color.replace(to_replace = 'Color', value = 1)
movie_data.color = movie_data.color.replace(to_replace = 'NaN', value = 1)

#replaces the NaN or black and white values to 0
for item in movie_data.color:
    if item != 1:
        movie_data.color = movie_data.color.replace(to_replace = item, value = 0)
        
#movie_data.color = new_color_column 
#print(movie_data['color'])

#makes sure that there is nog error where it shouldn't be
pd.options.mode.chained_assignment= None
print('Done')

Done

# Changing Country to Numeric

In [6]:
#replaces the USA values to 1
movie_data.country = movie_data.country.replace(to_replace ='USA', value = 1)
movie_data.country = movie_data.country.replace(to_replace ='NaN', value = 1)
#replaces the NaN or non USA values to 0
for item in movie_data.country:
    if item != 1:
        movie_data.country = movie_data.country.replace(to_replace = item, value = 0)
       
#print(movie_data['country'])

#makes sure that there is nog error where it shouldn't be
pd.options.mode.chained_assignment= None

print('Done')

Done

# Changing Language to Numeric

In [7]:
#replaces the English values to 1
movie_data.language = movie_data.language.replace(to_replace = 'English', value = 1)
movie_data.language = movie_data.language.replace(to_replace = 'NaN', value = 1)

#replaces the other values to 0
for item in movie_data.language:
    if item != 1:
        movie_data.language = movie_data.language.replace(to_replace = item, value = 0)
        
#print(movie_data['language'])

#makes sure that there is nog error where it shouldn't be
pd.options.mode.chained_assignment= None
print('Done')

Done

# Changing Content Rating to Numeric

In [8]:
def content_to_numerical(data):
    data = data.replace(to_replace='G', value=0)
    data = data.replace(to_replace='PG', value=12)
    data = data.replace(to_replace='PG-13', value=13)
    data = data.replace(to_replace='R', value=17)
    data = data.replace(to_replace='NC-17', value=17)
    
    data = data.replace(to_replace='TV-PG', value=12)
    data = data.replace(to_replace='TV-MA', value=17)
    data = data.replace(to_replace='TV-G', value=0)
    data = data.replace(to_replace='TV-Y', value=0)
    data = data.replace(to_replace='TV-Y7', value=7)
    data = data.replace(to_replace='TV-14', value=14)
    
    data = data.replace(to_replace='Not Rated', value=0)
    data = data.replace(to_replace='Unrated', value=0)
    data = data.replace(to_replace='Approved', value=0)
    data = data.replace(to_replace='Passed', value=0)
    
    data = data.replace(to_replace='X', value=17)
    data = data.replace(to_replace='M', value=17)
    data = data.replace(to_replace='GP', value=12)
    
    return data

movie_data = content_to_numerical(movie_data)
print(movie_data)

      actor_1_facebook_likes  actor_2_facebook_likes  actor_3_facebook_likes  \
0                     1000.0                   936.0                   855.0
1                    40000.0                  5000.0                  1000.0
2                    11000.0                   393.0                   161.0
3                    27000.0                 23000.0                 23000.0
5                      640.0                   632.0                   530.0
6                    24000.0                 11000.0                  4000.0
7                      799.0                   553.0                   284.0
8                    26000.0                 21000.0                 19000.0
9                    25000.0                 11000.0                 10000.0
10                   15000.0                  4000.0                  2000.0
11                   18000.0                 10000.0                   903.0
12                     451.0                   412.0                   393.0
13                   40000.0                  5000.0                  1000.0
14                   40000.0                  2000.0                  1000.0
15                   15000.0                  3000.0                   748.0
16                   22000.0                   216.0                   201.0
17                   26000.0                 21000.0                 19000.0
18                   40000.0                 11000.0                  1000.0
19                   10000.0                   816.0                   718.0
20                    5000.0                   972.0                   773.0
21                   15000.0                 10000.0                   963.0
22                     891.0                   882.0                   738.0
23                    5000.0                   972.0                   773.0
24                   16000.0                  6000.0                  1000.0
25                    6000.0                   919.0                    84.0
26                   29000.0                 14000.0                   794.0
27                   21000.0                 19000.0                 11000.0
28                   14000.0                 10000.0                   627.0
29                    3000.0                  2000.0                  1000.0
30                     883.0                   563.0                   393.0
...                      ...                     ...                     ...
5008                   898.0                   657.0                   216.0
5009                     0.0                     0.0                     NaN
5010                    26.0                     6.0                     3.0
5011                   136.0                   108.0                     7.0
5012                  1000.0                   206.0                   120.0
5013                    93.0                    46.0                    42.0
5014                   986.0                   918.0                   492.0
5015                     5.0                     0.0                     0.0
5016                   313.0                    25.0                     9.0
5017                   370.0                   184.0                   138.0
5018                    51.0                    49.0                     4.0
5019                   630.0                   512.0                   265.0
5021                   830.0                   224.0                    10.0
5022                   147.0                    19.0                     4.0
5023                   331.0                   212.0                   211.0
5024                   407.0                    91.0                    86.0
5025                   462.0                   143.0                   105.0
5026                   576.0                   133.0                    45.0
5027                     5.0                     0.0                     0.0
5028                    10.0                     5.0                     0.0
5029                    89.0                    13.0                     6.0
5031                   785.0                    98.0                    84.0
5033                   291.0                    45.0                     8.0
5034                     0.0                     0.0                     0.0
5035                   121.0                    20.0                     6.0
5036                    45.0                    44.0                     2.0
5037                   296.0                   205.0                   133.0
5040                     0.0                     0.0                     0.0
5041                   946.0                   719.0                   489.0
5042                    86.0                    23.0                    16.0

      aspect_ratio       budget  cast_total_facebook_likes  color  \
0             1.78  237000000.0                       4834    1.0
1             2.35  300000000.0                      48350    1.0
2             2.35  245000000.0                      11700    1.0
3             2.35  250000000.0                     106759    1.0
5             2.35  263700000.0                       1873    1.0
6             2.35  258000000.0                      46055    1.0
7             1.85  260000000.0                       2036    1.0
8             2.35  250000000.0                      92000    1.0
9             2.35  250000000.0                      58753    1.0
10            2.35  250000000.0                      24450    1.0
11            2.35  209000000.0                      29991    1.0
12            2.35  200000000.0                       2023    1.0
13            2.35  225000000.0                      48486    1.0
14            2.35  215000000.0                      45757    1.0
15            2.35  225000000.0                      20495    1.0
16            2.35  225000000.0                      22697    1.0
17            1.85  220000000.0                      87697    1.0
18            2.35  250000000.0                      54083    1.0
19            1.85  225000000.0                      12572    1.0
20            2.35  250000000.0                       9152    1.0
21            2.35  230000000.0                      28489    1.0
22            2.35  200000000.0                       3244    1.0
23            2.35  225000000.0                       9152    1.0
24            2.35  180000000.0                      24106    1.0
25            2.35  207000000.0                       7123    1.0
26            2.35  200000000.0                      45223    1.0
27            2.35  250000000.0                      64798    1.0
28            2.35  209000000.0                      26679    1.0
29            2.00  150000000.0                       8458    1.0
30            2.35  200000000.0                       2039    1.0
...            ...          ...                        ...    ...
5008          1.37     230000.0                       2103    0.0
5009          1.37      27000.0                          0    1.0
5010          1.37          NaN                         40    1.0
5011          1.85      25000.0                        254    1.0
5012          1.85   35000000.0                       1458    1.0
5013          1.78      24000.0                        243    1.0
5014          2.35          NaN                       3197    1.0
5015          1.37      23000.0                          5    0.0
5016           NaN      25000.0                        366    1.0
5017          1.78      22000.0                        841    1.0
5018          1.85      20000.0                        108    1.0
5019          1.85          NaN                       2679    1.0
5021           NaN      15000.0                       1064    1.0
5022           NaN      15000.0                        170    0.0
5023          2.35      15000.0                       1546    1.0
5024          2.35      20000.0                        674    1.0
5025          1.37      10000.0                        760    1.0
5026          2.35       4500.0                        776    1.0
5027          1.85      10000.0                          5    1.0
5028          1.33      10000.0                         15    0.0
5029          1.85    1000000.0                        115    1.0
5031         16.00     200000.0                       1111    1.0
5033          1.85       7000.0                        368    1.0
5034           NaN       7000.0                          0    1.0
5035          1.37       7000.0                        147    1.0
5036           NaN       3250.0                         93    1.0
5037           NaN       9000.0                        690    1.0
5040           NaN       1400.0                          0    1.0
5041          2.35          NaN                       2386    1.0
5042          1.85       1100.0                        163    1.0

      content_rating  country  director_facebook_likes    ...      Drama  \
0               13.0        1                      0.0    ...          0
1               13.0        1                    563.0    ...          0
2               13.0        0                      0.0    ...          0
3               13.0        1                  22000.0    ...          0
5               13.0        1                    475.0    ...          0
6               13.0        1                      0.0    ...          0
7               12.0        1                     15.0    ...          0
8               13.0        1                      0.0    ...          0
9               12.0        0                    282.0    ...          0
10              13.0        1                      0.0    ...          0
11              13.0        1                      0.0    ...          0
12              13.0        0                    395.0    ...          0
13              13.0        1                    563.0    ...          0
14              13.0        1                    563.0    ...          0
15              13.0        1                      0.0    ...          0
16              12.0        1                     80.0    ...          0
17              13.0        1                      0.0    ...          0
18              13.0        1                    252.0    ...          0
19              13.0        1                    188.0    ...          0
20              13.0        0                      0.0    ...          0
21              13.0        1                    464.0    ...          0
22              13.0        1                      0.0    ...          1
23              13.0        1                      0.0    ...          0
24              13.0        1                    129.0    ...          0
25              13.0        0                      0.0    ...          1
26              13.0        1                      0.0    ...          1
27              13.0        1                     94.0    ...          0
28              13.0        1                    532.0    ...          0
29              13.0        1                    365.0    ...          0
30              13.0        0                      0.0    ...          0
...              ...      ...                      ...    ...        ...
5008            17.0        1                      0.0    ...          0
5009             0.0        1                      0.0    ...          1
5010             NaN        1                     26.0    ...          1
5011            17.0        0                    119.0    ...          1
5012            17.0        1                    453.0    ...          1
5013             NaN        1                      3.0    ...          1
5014            17.0        0                    892.0    ...          0
5015            17.0        1                      0.0    ...          1
5016             NaN        1                      0.0    ...          1
5017             NaN        1                    138.0    ...          0
5018             NaN        1                    589.0    ...          1
5019            17.0        1                    158.0    ...          0
5021            17.0        1                    157.0    ...          1
5022             NaN        0                      0.0    ...          1
5023             NaN        1                     38.0    ...          0
5024             0.0        1                     91.0    ...          0
5025            17.0        1                      0.0    ...          0
5026            17.0        0                    107.0    ...          1
5027             0.0        0                    397.0    ...          1
5028             NaN        0                     18.0    ...          0
5029             NaN        0                     62.0    ...          0
5031             NaN        1                    120.0    ...          0
5033            13.0        1                    291.0    ...          1
5034             0.0        0                      0.0    ...          0
5035            17.0        1                      0.0    ...          1
5036            13.0        1                      2.0    ...          1
5037             0.0        1                      0.0    ...          1
5040             NaN        1                      0.0    ...          1
5041            13.0        1                      0.0    ...          1
5042            12.0        1                     16.0    ...          0

      Action  Documentary  Musical  History  Family  Fantasy  Game-Show  \
0          1            0        0        0       0        1          0
1          1            0        0        0       0        1          0
2          1            0        0        0       0        0          0
3          1            0        0        0       0        0          0
5          1            0        0        0       0        0          0
6          1            0        0        0       0        0          0
7          0            0        1        0       1        1          0
8          1            0        0        0       0        0          0
9          0            0        0        0       1        1          0
10         1            0        0        0       0        0          0
11         1            0        0        0       0        0          0
12         1            0        0        0       0        0          0
13         1            0        0        0       0        1          0
14         1            0        0        0       0        0          0
15         1            0        0        0       0        1          0
16         1            0        0        0       1        1          0
17         1            0        0        0       0        0          0
18         1            0        0        0       0        1          0
19         1            0        0        0       1        1          0
20         0            0        0        0       0        1          0
21         1            0        0        0       0        1          0
22         1            0        0        1       0        0          0
23         0            0        0        0       0        1          0
24         0            0        0        0       1        1          0
25         1            0        0        0       0        0          0
26         0            0        0        0       0        0          0
27         1            0        0        0       0        0          0
28         1            0        0        0       0        0          0
29         1            0        0        0       0        0          0
30         1            0        0        0       0        0          0
...      ...          ...      ...      ...     ...      ...        ...
5008       0            0        0        0       0        0          0
5009       0            0        0        0       0        1          0
5010       0            0        0        0       0        0          0
5011       0            0        0        0       0        0          0
5012       1            0        0        0       0        0          0
5013       0            0        0        0       1        0          0
5014       1            0        0        0       0        0          0
5015       0            0        0        0       0        0          0
5016       0            0        0        0       0        0          0
5017       0            0        0        0       0        0          0
5018       0            0        0        0       0        0          0
5019       0            0        0        0       0        0          0
5021       0            0        0        0       0        0          0
5022       0            0        0        0       0        0          0
5023       0            0        0        0       0        0          0
5024       0            0        0        0       0        0          0
5025       0            0        0        0       0        0          0
5026       0            0        0        0       0        0          0
5027       0            0        0        0       0        0          0
5028       0            0        0        0       0        0          0
5029       0            0        0        0       0        0          0
5031       0            0        0        0       0        0          0
5033       0            0        0        0       0        0          0
5034       0            0        0        0       0        0          0
5035       1            0        0        0       0        0          0
5036       0            0        0        0       0        0          0
5037       0            0        0        0       0        0          0
5040       0            0        0        0       0        0          0
5041       0            0        0        0       0        0          0
5042       0            1        0        0       0        0          0

      Sport  Biography
0         0          0
1         0          0
2         0          0
3         0          0
5         0          0
6         0          0
7         0          0
8         0          0
9         0          0
10        0          0
11        0          0
12        0          0
13        0          0
14        0          0
15        0          0
16        0          0
17        0          0
18        0          0
19        0          0
20        0          0
21        0          0
22        0          0
23        0          0
24        0          0
25        0          0
26        0          0
27        0          0
28        0          0
29        0          0
30        0          0
...     ...        ...
5008      0          0
5009      0          0
5010      0          0
5011      0          0
5012      0          0
5013      0          0
5014      0          0
5015      0          0
5016      0          0
5017      0          0
5018      0          0
5019      0          0
5021      0          0
5022      0          0
5023      0          0
5024      0          0
5025      0          0
5026      0          0
5027      0          0
5028      0          0
5029      0          0
5031      0          0
5033      0          0
5034      0          0
5035      0          0
5036      0          0
5037      0          0
5040      0          0
5041      0          0
5042      0          0

[4900 rows x 43 columns]

# Replacing NaNs with averages

In [9]:
def replace_NaNs(col):
    # compute average
    avg = np.sum(col) / (len(col) - np.sum(col.isnull()))
    print(avg)
    
    # replace NaNs with average
    col = col.fillna(value=avg)
    return col

pd.options.mode.chained_assignment= None

replace_with_avgs = ['actor_1_facebook_likes', 'actor_2_facebook_likes', 'actor_3_facebook_likes', 
                   'aspect_ratio', 'budget', 'cast_total_facebook_likes', 'director_facebook_likes', 
                   'content_rating']
for column in replace_with_avgs:
    print(column)
    movie_data[column] = replace_NaNs(movie_data[column])

actor_1_facebook_likes
6648.62979592
actor_2_facebook_likes
1684.1759902
actor_3_facebook_likes
653.779595175
aspect_ratio
2.1284344634
budget
39892924.8304
cast_total_facebook_likes
9849
director_facebook_likes
692.662510221
content_rating
13.6882617062

# Try testing

In [10]:
movie_num = movie_data.fillna(value=0, axis=1)
#print(movie_num.head())

#ratings_integers = [int(round(rating)) for rating in ratings]

X = movie_num.values
# Data Normalization
X_std = StandardScaler().fit_transform(X)

Split into training set and test set. First 70% of samples is taken as training set, the remaining 30% of samples is taken as the test set

In [11]:
print X_std.shape

# y actual values
y = movie_score

number_of_samples = len(y)

# take the first 70% of the samples as the training set
num_training_samples = int(number_of_samples*0.70)
x_train = X_std[:num_training_samples]

# take the same 70% for the y training set
y_train=y[:num_training_samples]

# take the rest as the test set
x_test = X_std[num_training_samples:]
y_test = y[num_training_samples:]

y_Train=list(y_train)

(4900, 43)

## Prediction analysis function ##

In [12]:
def analyse_predictions(regr, x_test, y_test, doprint=False):
    predres = list(regr.predict(x_test))
    actual = list(y_test)

    highest = lowest = avg = 0
    for i in range(len(predres)):
        diff = abs(predres[i] - actual[i])
        avg += diff

        if doprint:
            print "predicted:", predres[i], 
            print "\tActual:", actual[i],
            print "\tDifference:", abs(predres[i] - actual[i])

        if diff > highest:
            highest = diff
        if diff < lowest:
            lowest = diff

    print
    print "Highest difference:", highest
    print "Lowest difference:", lowest
    print "average difference:", avg / len(predres)

# Linear Regression #

In [13]:
from sklearn import linear_model
regr = linear_model.LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

regr.fit (x_train, y_train)
#
# The coefficients
print('Coefficients: \n', regr.coef_)
# The mean squared error
print("Mean squared error: %.2f"
      % np.mean((regr.predict(x_test) - y_test) ** 2))
# Explained variance score: 1 is perfect prediction
print('Variance score: %.2f' % regr.score(x_test, y_test))

analyse_predictions(regr, x_test, y_test)

('Coefficients: \n', array([  2.42452655e-01,   4.97907843e-02,   8.31790698e-02,
         3.29436088e-02,   9.03604276e-03,  -3.04507422e-01,
         2.14178534e-02,   1.21258877e-02,   1.22088359e-02,
         4.06421806e-02,   2.12904029e-02,   2.50374929e-03,
         4.79930019e-02,  -3.26559154e-02,  -6.19031601e-02,
         1.72094071e-02,   1.98484899e-03,   1.37550312e-02,
        -1.06798241e-03,  -1.72583015e-03,  -7.30615638e-03,
        -4.50659618e-03,   2.91906272e-02,   2.72355858e-02,
        -1.99745900e-02,  -1.60302147e+11,   1.32846170e-02,
        -7.06392670e-02,  -8.29143626e+09,   7.26795628e-03,
         9.12798433e-03,  -2.62521637e-03,   7.66338100e-04,
        -2.36238678e-03,  -3.20423338e-02,   6.20772108e-02,
        -3.07610091e-02,  -1.72588173e-02,  -2.39442072e-03,
         1.32698477e-02,   0.00000000e+00,  -9.42030384e-03,
         2.20246720e-02]))

ValueError: operands could not be broadcast together with shapes (1370,) (1513,)

# Ridge Regression #

In [ ]:
regr = linear_model.Ridge()

regr.fit (x_train, y_train)

# The coefficients
print('Coefficients: \n', regr.coef_)
# The mean squared error
print("Mean squared error: %.2f"
      % np.mean((regr.predict(x_test) - y_test) ** 2))
# Explained variance score: 1 is perfect prediction
print('Variance score: %.2f' % regr.score(x_test, y_test))

analyse_predictions(regr, x_test, y_test)

# Lasso #

In [ ]:
regr = linear_model.Lasso(alpha=0.1, copy_X=True, fit_intercept=True, max_iter=1000,
   normalize=False, positive=False, precompute=False, random_state=None,
   selection='cyclic', tol=0.0001, warm_start=False)

regr.fit (x_train, y_train)

# The coefficients
print('Coefficients: \n', regr.coef_)
# The mean squared error
print("Mean squared error: %.2f"
      % np.mean((regr.predict(x_test) - y_test) ** 2))
# Explained variance score: 1 is perfect prediction
print('Variance score: %.2f' % regr.score(x_test, y_test))

analyse_predictions(regr, x_test, y_test)

Print predicted values, actual values and the difference for every predicted sample

In [ ]:
regr = linear_model.BayesianRidge(alpha_1=1e-06, alpha_2=5e-06, compute_score=False, copy_X=True,
       fit_intercept=True, lambda_1=1e-06, lambda_2=1e-06, n_iter=300,
       normalize=False, tol=0.001, verbose=False)

regr.fit (x_train, y_train)

# The coefficients
print('Coefficients: \n', regr.coef_)
# The mean squared error
print("Mean squared error: %.2f"
      % np.mean((regr.predict(x_test) - y_test) ** 2))
# Explained variance score: 1 is perfect prediction
print('Variance score: %.2f' % regr.score(x_test, y_test))

analyse_predictions(regr, x_test, y_test)