In [61]:
import numpy as np
import csv
import pandas as pd
from sklearn.preprocessing import StandardScaler
from sklearn.neighbors import KNeighborsClassifier, KNeighborsRegressor
from sklearn.preprocessing import LabelEncoder


#reads in the data
data = pd.read_csv('movie_metadata.csv')

#removes the values that aren't numeric
to_drop = ['director_name', 'num_critic_for_reviews', 'actor_2_name','actor_1_name', 'movie_title', 'num_voted_users'
           , 'actor_3_name', 'plot_keywords', 'movie_imdb_link', 'num_user_for_reviews', 'content_rating']

#makes the new data set without the to_drop colums
features_list = data.columns.difference(to_drop)
movie_data = data[features_list]
#print(np.sum(movie_num.isnull()))
#print(movie_data.content_rating.unique())
pd.options.mode.chained_assignment = None 
   
print('Done')

Done

# Changing Genres into individual Columns

In [62]:
genres = []

for string in movie_data['genres']:
    genre = string.split('|')
    genres = genres+genre
    
genres_set = set(genres)
print(genres_set)

{'Game-Show', 'Family', 'History', 'Crime', 'Horror', 'Western', 'Fantasy', 'News', 'Mystery', 'Documentary', 'Sci-Fi', 'Comedy', 'Reality-TV', 'Short', 'War', 'Musical', 'Thriller', 'Biography', 'Action', 'Animation', 'Music', 'Film-Noir', 'Sport', 'Drama', 'Adventure', 'Romance'}

In [63]:
genres_dict = dict()
for genre in genres_set:
    genres_dict[genre] = []
    
for string in movie_data.genres:
    genres = string.split('|')
    for genre in genres_set:
        if genre in genres:
            genres_dict[genre] = genres_dict[genre]+[1]
        else:
            genres_dict[genre] = genres_dict[genre]+[0]

del movie_data['genres']
#print(genres_dict['Short'])

for genre in genres_set:
    series = pd.Series(genres_dict[genre])
    movie_data[genre] = series

#print(movie_data['Short'].values)    
print('Done')

Done

# Deleting NaN's

In [64]:
NA_THRESH = 4

#deletes the row when there are more or equal to the threshod number of NaN's
def remove_too_many_NaN(data, threshold):
    print("Length before deletion: {}".format(len(data)))

    remove_indices = []
    for index, nNaN in data.isnull().sum(axis=1).iteritems():
        if nNaN >= threshold:
            remove_indices.append(index)
    
    # drop movies with too many NaNs
    data = data.drop(data.index[remove_indices])
    print("Length after deletion: {}".format(len(data)))
    
    return data

#returns length
movie_data = remove_too_many_NaN(movie_data, NA_THRESH)

Length before deletion: 5043
Length after deletion: 4927

# Replacing NaNs with averages

In [65]:
def replace_NaNs(col):
    # compute average
    avg = np.sum(col) / (len(col) - np.sum(col.isnull()))
    print(avg)
    
    # replace NaNs with average
    col = col.fillna(value=avg)
    return col

pd.options.mode.chained_assignment= None

to_replace_NaNs = ['actor_1_facebook_likes', 'actor_2_facebook_likes', 'actor_3_facebook_likes', 
               'aspect_ratio', 'budget', 'cast_total_facebook_likes', 'director_facebook_likes', 'gross', 'title_year'
                   , 'duration', 'facenumber_in_poster']
for column in to_replace_NaNs:
    movie_data[column] = replace_NaNs(movie_data[column])

6615.96954933
1676.81555962
651.352522376
2.13102265372
39838985.8163
9802.01867262
689.276128508
48503328.2327
2002.44376652
108.152580252
1.36561546287

# Changing Color to Numeric

In [66]:
#replaces the color value to 1
movie_data.color = movie_data.color.replace(to_replace = 'Color', value = 1)
movie_data.color = movie_data.color.replace(to_replace = 'NaN', value = 1)

#replaces the NaN or black and white values to 0
for item in movie_data.color:
    if item != 1:
        movie_data.color = movie_data.color.replace(to_replace = item, value = 0)
        
#movie_data.color = new_color_column 
#print(movie_data['color'])

#makes sure that there is nog error where it shouldn't be
pd.options.mode.chained_assignment= None
print('Done')

Done

# Changing Country to Numeric

In [67]:
#replaces the USA values to 1
movie_data.country = movie_data.country.replace(to_replace ='USA', value = 1)
movie_data.country = movie_data.country.replace(to_replace ='NaN', value = 1)
#replaces the NaN or non USA values to 0
for item in movie_data.country:
    if item != 1:
        movie_data.country = movie_data.country.replace(to_replace = item, value = 0)
       
#print(movie_data['country'])

#makes sure that there is nog error where it shouldn't be
pd.options.mode.chained_assignment= None

print('Done')

Done

# Changing Languange to Numeric

In [68]:
#replaces the English values to 1
movie_data.language = movie_data.language.replace(to_replace = 'English', value = 1)
movie_data.language = movie_data.language.replace(to_replace = 'NaN', value = 1)

#replaces the other values to 0
for item in movie_data.language:
    if item != 1:
        movie_data.language = movie_data.language.replace(to_replace = item, value = 0)
        
#print(movie_data['language'])

#makes sure that there is nog error where it shouldn't be
pd.options.mode.chained_assignment= None
print('Done')

Done

# Chaning Content_Rating to Numeric

In [69]:
def content_to_numerical(data):
    data = data.replace(to_replace='G', value=0)
    data = data.replace(to_replace='PG', value=12)
    data = data.replace(to_replace='PG-13', value=13)
    data = data.replace(to_replace='R', value=17)
    data = data.replace(to_replace='NC-17', value=17)
    
    data = data.replace(to_replace='TV-PG', value=12)
    data = data.replace(to_replace='TV-MA', value=17)
    data = data.replace(to_replace='TV-G', value=0)
    data = data.replace(to_replace='TV-Y', value=0)
    data = data.replace(to_replace='TV-Y7', value=7)
    data = data.replace(to_replace='TV-14', value=14)
    
    data = data.replace(to_replace='Not Rated', value=0)
    data = data.replace(to_replace='Unrated', value=0)
    data = data.replace(to_replace='Approved', value=0)
    data = data.replace(to_replace='Passed', value=0)
    
    data = data.replace(to_replace='X', value=17)
    data = data.replace(to_replace='M', value=17)
    data = data.replace(to_replace='GP', value=12)
    
    return data

movie_data = content_to_numerical(movie_data)
print(movie_data)

      actor_1_facebook_likes  actor_2_facebook_likes  actor_3_facebook_likes  \
0                     1000.0                   936.0                   855.0
1                    40000.0                  5000.0                  1000.0
2                    11000.0                   393.0                   161.0
3                    27000.0                 23000.0                 23000.0
5                      640.0                   632.0                   530.0
6                    24000.0                 11000.0                  4000.0
7                      799.0                   553.0                   284.0
8                    26000.0                 21000.0                 19000.0
9                    25000.0                 11000.0                 10000.0
10                   15000.0                  4000.0                  2000.0
11                   18000.0                 10000.0                   903.0
12                     451.0                   412.0                   393.0
13                   40000.0                  5000.0                  1000.0
14                   40000.0                  2000.0                  1000.0
15                   15000.0                  3000.0                   748.0
16                   22000.0                   216.0                   201.0
17                   26000.0                 21000.0                 19000.0
18                   40000.0                 11000.0                  1000.0
19                   10000.0                   816.0                   718.0
20                    5000.0                   972.0                   773.0
21                   15000.0                 10000.0                   963.0
22                     891.0                   882.0                   738.0
23                    5000.0                   972.0                   773.0
24                   16000.0                  6000.0                  1000.0
25                    6000.0                   919.0                    84.0
26                   29000.0                 14000.0                   794.0
27                   21000.0                 19000.0                 11000.0
28                   14000.0                 10000.0                   627.0
29                    3000.0                  2000.0                  1000.0
30                     883.0                   563.0                   393.0
...                      ...                     ...                     ...
5012                  1000.0                   206.0                   120.0
5013                    93.0                    46.0                    42.0
5014                   986.0                   918.0                   492.0
5015                     5.0                     0.0                     0.0
5016                   313.0                    25.0                     9.0
5017                   370.0                   184.0                   138.0
5018                    51.0                    49.0                     4.0
5019                   630.0                   512.0                   265.0
5020                   720.0                    19.0                     8.0
5021                   830.0                   224.0                    10.0
5022                   147.0                    19.0                     4.0
5023                   331.0                   212.0                   211.0
5024                   407.0                    91.0                    86.0
5025                   462.0                   143.0                   105.0
5026                   576.0                   133.0                    45.0
5027                     5.0                     0.0                     0.0
5028                    10.0                     5.0                     0.0
5029                    89.0                    13.0                     6.0
5030                    21.0                    20.0                    12.0
5031                   785.0                    98.0                    84.0
5032                   789.0                   194.0                   152.0
5033                   291.0                    45.0                     8.0
5034                     0.0                     0.0                     0.0
5035                   121.0                    20.0                     6.0
5036                    45.0                    44.0                     2.0
5037                   296.0                   205.0                   133.0
5038                   637.0                   470.0                   318.0
5040                     0.0                     0.0                     0.0
5041                   946.0                   719.0                   489.0
5042                    86.0                    23.0                    16.0

      aspect_ratio        budget  cast_total_facebook_likes  color  country  \
0         1.780000  2.370000e+08                       4834    1.0        1
1         2.350000  3.000000e+08                      48350    1.0        1
2         2.350000  2.450000e+08                      11700    1.0        0
3         2.350000  2.500000e+08                     106759    1.0        1
5         2.350000  2.637000e+08                       1873    1.0        1
6         2.350000  2.580000e+08                      46055    1.0        1
7         1.850000  2.600000e+08                       2036    1.0        1
8         2.350000  2.500000e+08                      92000    1.0        1
9         2.350000  2.500000e+08                      58753    1.0        0
10        2.350000  2.500000e+08                      24450    1.0        1
11        2.350000  2.090000e+08                      29991    1.0        1
12        2.350000  2.000000e+08                       2023    1.0        0
13        2.350000  2.250000e+08                      48486    1.0        1
14        2.350000  2.150000e+08                      45757    1.0        1
15        2.350000  2.250000e+08                      20495    1.0        1
16        2.350000  2.250000e+08                      22697    1.0        1
17        1.850000  2.200000e+08                      87697    1.0        1
18        2.350000  2.500000e+08                      54083    1.0        1
19        1.850000  2.250000e+08                      12572    1.0        1
20        2.350000  2.500000e+08                       9152    1.0        0
21        2.350000  2.300000e+08                      28489    1.0        1
22        2.350000  2.000000e+08                       3244    1.0        1
23        2.350000  2.250000e+08                       9152    1.0        1
24        2.350000  1.800000e+08                      24106    1.0        1
25        2.350000  2.070000e+08                       7123    1.0        0
26        2.350000  2.000000e+08                      45223    1.0        1
27        2.350000  2.500000e+08                      64798    1.0        1
28        2.350000  2.090000e+08                      26679    1.0        1
29        2.000000  1.500000e+08                       8458    1.0        1
30        2.350000  2.000000e+08                       2039    1.0        0
...            ...           ...                        ...    ...      ...
5012      1.850000  3.500000e+07                       1458    1.0        1
5013      1.780000  2.400000e+04                        243    1.0        1
5014      2.350000  3.983899e+07                       3197    1.0        0
5015      1.370000  2.300000e+04                          5    0.0        1
5016      2.131023  2.500000e+04                        366    1.0        1
5017      1.780000  2.200000e+04                        841    1.0        1
5018      1.850000  2.000000e+04                        108    1.0        1
5019      1.850000  3.983899e+07                       2679    1.0        1
5020      2.131023  1.735000e+04                        770    0.0        1
5021      2.131023  1.500000e+04                       1064    1.0        1
5022      2.131023  1.500000e+04                        170    0.0        0
5023      2.350000  1.500000e+04                       1546    1.0        1
5024      2.350000  2.000000e+04                        674    1.0        1
5025      1.370000  1.000000e+04                        760    1.0        1
5026      2.350000  4.500000e+03                        776    1.0        0
5027      1.850000  1.000000e+04                          5    1.0        0
5028      1.330000  1.000000e+04                         15    0.0        0
5029      1.850000  1.000000e+06                        115    1.0        0
5030      2.131023  3.983899e+07                         62    1.0        1
5031     16.000000  2.000000e+05                       1111    1.0        1
5032      2.131023  3.983899e+07                       1186    1.0        1
5033      1.850000  7.000000e+03                        368    1.0        1
5034      2.131023  7.000000e+03                          0    1.0        0
5035      1.370000  7.000000e+03                        147    1.0        1
5036      2.131023  3.250000e+03                         93    1.0        1
5037      2.131023  9.000000e+03                        690    1.0        1
5038      2.131023  3.983899e+07                       2283    1.0        0
5040      2.131023  1.400000e+03                          0    1.0        1
5041      2.350000  3.983899e+07                       2386    1.0        1
5042      1.850000  1.100000e+03                        163    1.0        1

      director_facebook_likes  duration   ...     Thriller  Biography  Action  \
0                         0.0     178.0   ...            0          0       1
1                       563.0     169.0   ...            0          0       1
2                         0.0     148.0   ...            1          0       1
3                     22000.0     164.0   ...            1          0       1
5                       475.0     132.0   ...            0          0       1
6                         0.0     156.0   ...            0          0       1
7                        15.0     100.0   ...            0          0       0
8                         0.0     141.0   ...            0          0       1
9                       282.0     153.0   ...            0          0       0
10                        0.0     183.0   ...            0          0       1
11                        0.0     169.0   ...            0          0       1
12                      395.0     106.0   ...            0          0       1
13                      563.0     151.0   ...            0          0       1
14                      563.0     150.0   ...            0          0       1
15                        0.0     143.0   ...            0          0       1
16                       80.0     150.0   ...            0          0       1
17                        0.0     173.0   ...            0          0       1
18                      252.0     136.0   ...            0          0       1
19                      188.0     106.0   ...            0          0       1
20                        0.0     164.0   ...            0          0       0
21                      464.0     153.0   ...            0          0       1
22                        0.0     156.0   ...            0          0       1
23                        0.0     186.0   ...            0          0       0
24                      129.0     113.0   ...            0          0       0
25                        0.0     201.0   ...            0          0       1
26                        0.0     194.0   ...            0          0       0
27                       94.0     147.0   ...            0          0       1
28                      532.0     131.0   ...            1          0       1
29                      365.0     124.0   ...            1          0       1
30                        0.0     143.0   ...            1          0       1
...                       ...       ...   ...          ...        ...     ...
5012                    453.0     109.0   ...            1          0       1
5013                      3.0      79.0   ...            0          0       0
5014                    892.0      80.0   ...            1          0       1
5015                      0.0     100.0   ...            0          0       0
5016                      0.0      90.0   ...            1          0       0
5017                    138.0      90.0   ...            0          0       0
5018                    589.0     120.0   ...            0          0       0
5019                    158.0      91.0   ...            1          0       0
5020                      8.0     143.0   ...            1          0       0
5021                    157.0      85.0   ...            0          0       0
5022                      0.0      60.0   ...            0          0       0
5023                     38.0      88.0   ...            0          0       0
5024                     91.0      78.0   ...            1          0       0
5025                      0.0     108.0   ...            0          0       0
5026                    107.0     110.0   ...            0          0       0
5027                    397.0      90.0   ...            0          0       0
5028                     18.0      83.0   ...            0          0       0
5029                     62.0     111.0   ...            1          0       0
5030                      5.0      84.0   ...            0          0       0
5031                    120.0      82.0   ...            1          0       0
5032                      3.0      98.0   ...            0          0       0
5033                    291.0      77.0   ...            1          0       0
5034                      0.0      80.0   ...            1          0       0
5035                      0.0      81.0   ...            1          0       1
5036                      2.0      84.0   ...            0          0       0
5037                      0.0      95.0   ...            0          0       0
5038                      2.0      87.0   ...            0          0       0
5040                      0.0      76.0   ...            1          0       0
5041                      0.0     100.0   ...            0          0       0
5042                     16.0      90.0   ...            0          0       0

      Animation  Music  Film-Noir  Sport  Drama  Adventure  Romance
0             0      0          0      0      0          1        0
1             0      0          0      0      0          1        0
2             0      0          0      0      0          1        0
3             0      0          0      0      0          0        0
5             0      0          0      0      0          1        0
6             0      0          0      0      0          1        1
7             1      0          0      0      0          1        1
8             0      0          0      0      0          1        0
9             0      0          0      0      0          1        0
10            0      0          0      0      0          1        0
11            0      0          0      0      0          1        0
12            0      0          0      0      0          1        0
13            0      0          0      0      0          1        0
14            0      0          0      0      0          1        0
15            0      0          0      0      0          1        0
16            0      0          0      0      0          1        0
17            0      0          0      0      0          1        0
18            0      0          0      0      0          1        0
19            0      0          0      0      0          1        0
20            0      0          0      0      0          1        0
21            0      0          0      0      0          1        0
22            0      0          0      0      1          1        0
23            0      0          0      0      0          1        0
24            0      0          0      0      0          1        0
25            0      0          0      0      1          1        1
26            0      0          0      0      1          0        1
27            0      0          0      0      0          1        0
28            0      0          0      0      0          1        0
29            0      0          0      0      0          1        0
30            0      0          0      0      0          1        0
...         ...    ...        ...    ...    ...        ...      ...
5012          0      0          0      0      1          0        0
5013          0      0          0      0      1          0        0
5014          0      0          0      0      0          0        0
5015          0      0          0      0      1          0        0
5016          0      0          0      0      1          0        0
5017          0      0          0      0      0          0        1
5018          0      0          0      0      1          0        0
5019          0      0          0      0      0          0        0
5020          0      0          0      0      1          0        0
5021          0      0          0      0      1          0        1
5022          0      0          0      0      1          0        0
5023          0      0          0      0      0          0        1
5024          0      0          0      0      0          0        0
5025          0      0          0      0      0          0        0
5026          0      1          0      0      1          0        1
5027          0      0          0      0      1          0        0
5028          0      0          0      0      0          0        0
5029          0      0          0      0      0          0        0
5030          0      0          0      0      1          0        0
5031          0      0          0      0      0          0        0
5032          0      0          0      0      1          0        0
5033          0      0          0      0      1          0        0
5034          0      0          0      0      0          0        0
5035          0      0          0      0      1          0        1
5036          0      0          0      0      1          0        0
5037          0      0          0      0      1          0        0
5038          0      0          0      0      1          0        0
5040          0      0          0      0      1          0        0
5041          0      0          0      0      1          0        1
5042          0      0          0      0      0          0        0

[4927 rows x 42 columns]

# Delete columns with too little 1's

In [70]:
for genre in genres_set:
    print(genre, ':')
    counter = 0
    for value in movie_data[genre]:
        if value == 1.0:
            counter+=1
    print(counter)
    
weghalen = ['Game-Show', 'News', 'Reality-TV', 'Short', 'Film-Noir']

for name in weghalen:
    del movie_data[name]
    
#print(movie_data)

Game-Show :
0
Family :
534
History :
204
Crime :
860
Horror :
557
Western :
97
Fantasy :
593
News :
3
Mystery :
476
Documentary :
113
Sci-Fi :
600
Comedy :
1834
Reality-TV :
0
Short :
5
War :
208
Musical :
132
Thriller :
1383
Biography :
292
Action :
1132
Animation :
234
Music :
213
Film-Noir :
6
Sport :
181
Drama :
2522
Adventure :
911
Romance :
1088

# Trainset en testset

In [71]:
ratings = movie_data['imdb_score'].values
del movie_data['imdb_score']

X = movie_data.values
X_std = StandardScaler().fit_transform(X)

number_of_samples = len(ratings)
np.random.seed(0)
random_indices = np.random.permutation(number_of_samples)
num_training_samples = int(number_of_samples*0.75)
movie_training = X_std[random_indices[:num_training_samples]]
ratings_training = ratings[random_indices[:num_training_samples]]


movie_test = X_std[random_indices[num_training_samples:]]
ratings_test = ratings[random_indices[num_training_samples:]]
ratings_training = list(ratings_cont_training)

# Leren

### neural networks

In [73]:
from sklearn.neural_network import MLPRegressor

neural = MLPRegressor(alpha = 0.00001)#activation='logistic')

neural.fit(movie_training, ratings_training)
y_neural_1 = neural.predict(movie_training)
y_neural_2 = neural.predict(movie_test)
print(ratings_test)
print(y_neural_2)
error = 0

for i in range(len(ratings_training)):
    error += (abs(y_neural_1[i]-ratings_training[i]))/ratings_training[i]
training_error = error/len(ratings_training)*100

print("Train error = "+'{}'.format(training_error)+" percent"+" in neural network algorithm")

error = 0

for i in range(len(ratings_test)):
    error += (abs(y_neural_2[i]-ratings_test[i]))/ratings_test[i]
test_error = error/len(ratings_test)*100

print("Test error = "'{}'.format(test_error)+" percent"+" in neural network algorithm")

[ 7.   8.1  6.5 ...,  6.3  6.7  4.5]
[ 6.96645246  7.80039012  6.80945349 ...,  5.99125765  6.75287037
  5.73962391]
Train error = 8.69755067890222 percent in neural network algorithm
Test error = 12.785660757311728 percent in neural network algorithm

### k-nearest neighbors

In [74]:
regressor = KNeighborsRegressor()
regressor.fit(movie_training, ratings_training)
y_predict_train = regressor.predict(movie_training)
y_predict_train = list(y_predict_train)

error = 0

for i in range(len(ratings_cont_training)):
    error += (abs(y_predict_train[i]-ratings_training[i]))/ratings_training[i]
training_error = error/len(ratings_training)*100

print("Train error = "+'{}'.format(training_error)+" percent"+" in knn algorithm")

y_predict_test = regressor.predict(movie_test)
y_predict_test = list(y_predict_test)

error = 0

for i in range(len(ratings_test)):
    error += (abs(y_predict_test[i]-ratings_test[i]))/ratings_test[i]
test_error = error/len(ratings_test)*100

print("Test error = "'{}'.format(test_error)+" percent"+" in knn algorithm")

Train error = 10.276569481664392 percent in knn algorithm
Test error = 13.105962187581573 percent in knn algorithm

In [77]:
from sklearn.svm import SVR
svr_rbf = SVR(kernel='rbf', C=1e3, gamma=0.1)
svr_lin = SVR(kernel='linear', C=1e3)
svr_poly = SVR(kernel='poly', C=1e3, degree=2)
y_rbf = svr_rbf.fit(movie_training, ratings_training).predict(movie_training)
y_rbf = list(y_rbf)
error =0

for i in range(len(ratings_training)):
    error +=(abs(y_rbf[i]-ratings_training[i])/ratings_training[i])
    
train_error= error/len(ratings_training)*100
print ("Train error = "+'{}'.format(train_error))+"%"

y2_rbf = svr_rbf.predict(movie_test)
y2_rbf = list(y2_rbf)
error =0
for i in range(len(ratings_test)):
    error +=(abs(y2_rbf[i]-ratings_test[i])/ratings_test[i])
test_error= error/len(ratings_test)*100
print ("Test error = "+'{}'.format(test_error))+"%"

SyntaxError: invalid syntax (<ipython-input-77-16a5e2e9db6a>, line 10)