In [205]:
import numpy as np
import csv
import pandas as pd
from sklearn.preprocessing import StandardScaler
from sklearn.neighbors import KNeighborsClassifier, KNeighborsRegressor
from sklearn.preprocessing import LabelEncoder


#reads in the data
data = pd.read_csv('movie_metadata.csv')

#removes the values that aren't numeric
to_drop = ['director_name', 'num_critic_for_reviews', 'actor_2_name','actor_1_name', 'movie_title', 'num_voted_users'
           , 'actor_3_name', 'plot_keywords', 'movie_imdb_link', 'num_user_for_reviews']

#makes the new data set without the to_drop colums
features_list = data.columns.difference(to_drop)
movie_data = data[features_list]
#print(np.sum(movie_num.isnull()))
#print(movie_data.content_rating.unique())
pd.options.mode.chained_assignment = None 
   
print('Done')

Done

# Changing Genres into individual Columns

In [206]:
genres = []

for string in movie_data['genres']:
    genre = string.split('|')
    genres = genres+genre
    
genres_set = set(genres)
print(genres_set)

{'History', 'Film-Noir', 'Comedy', 'Horror', 'Drama', 'Thriller', 'Fantasy', 'Sport', 'Adventure', 'Documentary', 'Action', 'Western', 'Music', 'Reality-TV', 'Sci-Fi', 'News', 'Game-Show', 'Mystery', 'Romance', 'Biography', 'Animation', 'War', 'Musical', 'Crime', 'Family', 'Short'}

In [207]:
genres_dict = dict()
for genre in genres_set:
    genres_dict[genre] = []
    
for string in movie_data.genres:
    genres = string.split('|')
    for genre in genres_set:
        if genre in genres:
            genres_dict[genre] = genres_dict[genre]+[1]
        else:
            genres_dict[genre] = genres_dict[genre]+[0]

del movie_data['genres']
#print(genres_dict['Short'])

for genre in genres_set:
    series = pd.Series(genres_dict[genre])
    movie_data[genre] = series

#print(movie_data['Short'].values)    
print('Done')

Done

# Deleting NaN's

In [208]:
NA_THRESH = 4

#deletes the row when there are more or equal to the threshod number of NaN's
def remove_too_many_NaN(data, threshold):
    print("Length before deletion: {}".format(len(data)))

    remove_indices = []
    for index, nNaN in data.isnull().sum(axis=1).iteritems():
        if nNaN >= threshold:
            remove_indices.append(index)
    
    # drop movies with too many NaNs
    data = data.drop(data.index[remove_indices])
    print("Length after deletion: {}".format(len(data)))
    
    return data

#returns length
movie_data = remove_too_many_NaN(movie_data, NA_THRESH)

Length before deletion: 5043
Length after deletion: 4900

# Changing Color to Numeric

In [209]:
#replaces the color value to 1
movie_data.color = movie_data.color.replace(to_replace = 'Color', value = 1)
movie_data.color = movie_data.color.replace(to_replace = 'NaN', value = 1)

#replaces the NaN or black and white values to 0
for item in movie_data.color:
    if item != 1:
        movie_data.color = movie_data.color.replace(to_replace = item, value = 0)
        
#movie_data.color = new_color_column 
#print(movie_data['color'])

#makes sure that there is nog error where it shouldn't be
pd.options.mode.chained_assignment= None
print('Done')

Done

# Changing Country to Numeric

In [210]:
#replaces the USA values to 1
movie_data.country = movie_data.country.replace(to_replace ='USA', value = 1)
movie_data.country = movie_data.country.replace(to_replace ='NaN', value = 1)
#replaces the NaN or non USA values to 0
for item in movie_data.country:
    if item != 1:
        movie_data.country = movie_data.country.replace(to_replace = item, value = 0)
       
#print(movie_data['country'])

#makes sure that there is nog error where it shouldn't be
pd.options.mode.chained_assignment= None

print('Done')

Done

# Changing Languange to Numeric

In [211]:
#replaces the English values to 1
movie_data.language = movie_data.language.replace(to_replace = 'English', value = 1)
movie_data.language = movie_data.language.replace(to_replace = 'NaN', value = 1)

#replaces the other values to 0
for item in movie_data.language:
    if item != 1:
        movie_data.language = movie_data.language.replace(to_replace = item, value = 0)
        
#print(movie_data['language'])

#makes sure that there is nog error where it shouldn't be
pd.options.mode.chained_assignment= None
print('Done')

Done

# Chaning Content_Rating to Numeric

In [212]:
def content_to_numerical(data):
    data = data.replace(to_replace='G', value=0)
    data = data.replace(to_replace='PG', value=12)
    data = data.replace(to_replace='PG-13', value=13)
    data = data.replace(to_replace='R', value=17)
    data = data.replace(to_replace='NC-17', value=17)
    
    data = data.replace(to_replace='TV-PG', value=12)
    data = data.replace(to_replace='TV-MA', value=17)
    data = data.replace(to_replace='TV-G', value=0)
    data = data.replace(to_replace='TV-Y', value=0)
    data = data.replace(to_replace='TV-Y7', value=7)
    data = data.replace(to_replace='TV-14', value=14)
    
    data = data.replace(to_replace='Not Rated', value=0)
    data = data.replace(to_replace='Unrated', value=0)
    data = data.replace(to_replace='Approved', value=0)
    data = data.replace(to_replace='Passed', value=0)
    
    data = data.replace(to_replace='X', value=17)
    data = data.replace(to_replace='M', value=17)
    data = data.replace(to_replace='GP', value=12)
    
    return data

movie_data = content_to_numerical(movie_data)
print(movie_data)

      actor_1_facebook_likes  actor_2_facebook_likes  actor_3_facebook_likes  \
0                     1000.0                   936.0                   855.0
1                    40000.0                  5000.0                  1000.0
2                    11000.0                   393.0                   161.0
3                    27000.0                 23000.0                 23000.0
5                      640.0                   632.0                   530.0
6                    24000.0                 11000.0                  4000.0
7                      799.0                   553.0                   284.0
8                    26000.0                 21000.0                 19000.0
9                    25000.0                 11000.0                 10000.0
10                   15000.0                  4000.0                  2000.0
11                   18000.0                 10000.0                   903.0
12                     451.0                   412.0                   393.0
13                   40000.0                  5000.0                  1000.0
14                   40000.0                  2000.0                  1000.0
15                   15000.0                  3000.0                   748.0
16                   22000.0                   216.0                   201.0
17                   26000.0                 21000.0                 19000.0
18                   40000.0                 11000.0                  1000.0
19                   10000.0                   816.0                   718.0
20                    5000.0                   972.0                   773.0
21                   15000.0                 10000.0                   963.0
22                     891.0                   882.0                   738.0
23                    5000.0                   972.0                   773.0
24                   16000.0                  6000.0                  1000.0
25                    6000.0                   919.0                    84.0
26                   29000.0                 14000.0                   794.0
27                   21000.0                 19000.0                 11000.0
28                   14000.0                 10000.0                   627.0
29                    3000.0                  2000.0                  1000.0
30                     883.0                   563.0                   393.0
...                      ...                     ...                     ...
5008                   898.0                   657.0                   216.0
5009                     0.0                     0.0                     NaN
5010                    26.0                     6.0                     3.0
5011                   136.0                   108.0                     7.0
5012                  1000.0                   206.0                   120.0
5013                    93.0                    46.0                    42.0
5014                   986.0                   918.0                   492.0
5015                     5.0                     0.0                     0.0
5016                   313.0                    25.0                     9.0
5017                   370.0                   184.0                   138.0
5018                    51.0                    49.0                     4.0
5019                   630.0                   512.0                   265.0
5021                   830.0                   224.0                    10.0
5022                   147.0                    19.0                     4.0
5023                   331.0                   212.0                   211.0
5024                   407.0                    91.0                    86.0
5025                   462.0                   143.0                   105.0
5026                   576.0                   133.0                    45.0
5027                     5.0                     0.0                     0.0
5028                    10.0                     5.0                     0.0
5029                    89.0                    13.0                     6.0
5031                   785.0                    98.0                    84.0
5033                   291.0                    45.0                     8.0
5034                     0.0                     0.0                     0.0
5035                   121.0                    20.0                     6.0
5036                    45.0                    44.0                     2.0
5037                   296.0                   205.0                   133.0
5040                     0.0                     0.0                     0.0
5041                   946.0                   719.0                   489.0
5042                    86.0                    23.0                    16.0

      aspect_ratio       budget  cast_total_facebook_likes  color  \
0             1.78  237000000.0                       4834    1.0
1             2.35  300000000.0                      48350    1.0
2             2.35  245000000.0                      11700    1.0
3             2.35  250000000.0                     106759    1.0
5             2.35  263700000.0                       1873    1.0
6             2.35  258000000.0                      46055    1.0
7             1.85  260000000.0                       2036    1.0
8             2.35  250000000.0                      92000    1.0
9             2.35  250000000.0                      58753    1.0
10            2.35  250000000.0                      24450    1.0
11            2.35  209000000.0                      29991    1.0
12            2.35  200000000.0                       2023    1.0
13            2.35  225000000.0                      48486    1.0
14            2.35  215000000.0                      45757    1.0
15            2.35  225000000.0                      20495    1.0
16            2.35  225000000.0                      22697    1.0
17            1.85  220000000.0                      87697    1.0
18            2.35  250000000.0                      54083    1.0
19            1.85  225000000.0                      12572    1.0
20            2.35  250000000.0                       9152    1.0
21            2.35  230000000.0                      28489    1.0
22            2.35  200000000.0                       3244    1.0
23            2.35  225000000.0                       9152    1.0
24            2.35  180000000.0                      24106    1.0
25            2.35  207000000.0                       7123    1.0
26            2.35  200000000.0                      45223    1.0
27            2.35  250000000.0                      64798    1.0
28            2.35  209000000.0                      26679    1.0
29            2.00  150000000.0                       8458    1.0
30            2.35  200000000.0                       2039    1.0
...            ...          ...                        ...    ...
5008          1.37     230000.0                       2103    0.0
5009          1.37      27000.0                          0    1.0
5010          1.37          NaN                         40    1.0
5011          1.85      25000.0                        254    1.0
5012          1.85   35000000.0                       1458    1.0
5013          1.78      24000.0                        243    1.0
5014          2.35          NaN                       3197    1.0
5015          1.37      23000.0                          5    0.0
5016           NaN      25000.0                        366    1.0
5017          1.78      22000.0                        841    1.0
5018          1.85      20000.0                        108    1.0
5019          1.85          NaN                       2679    1.0
5021           NaN      15000.0                       1064    1.0
5022           NaN      15000.0                        170    0.0
5023          2.35      15000.0                       1546    1.0
5024          2.35      20000.0                        674    1.0
5025          1.37      10000.0                        760    1.0
5026          2.35       4500.0                        776    1.0
5027          1.85      10000.0                          5    1.0
5028          1.33      10000.0                         15    0.0
5029          1.85    1000000.0                        115    1.0
5031         16.00     200000.0                       1111    1.0
5033          1.85       7000.0                        368    1.0
5034           NaN       7000.0                          0    1.0
5035          1.37       7000.0                        147    1.0
5036           NaN       3250.0                         93    1.0
5037           NaN       9000.0                        690    1.0
5040           NaN       1400.0                          0    1.0
5041          2.35          NaN                       2386    1.0
5042          1.85       1100.0                        163    1.0

      content_rating  country  director_facebook_likes  ...    Game-Show  \
0               13.0        1                      0.0  ...            0
1               13.0        1                    563.0  ...            0
2               13.0        0                      0.0  ...            0
3               13.0        1                  22000.0  ...            0
5               13.0        1                    475.0  ...            0
6               13.0        1                      0.0  ...            0
7               12.0        1                     15.0  ...            0
8               13.0        1                      0.0  ...            0
9               12.0        0                    282.0  ...            0
10              13.0        1                      0.0  ...            0
11              13.0        1                      0.0  ...            0
12              13.0        0                    395.0  ...            0
13              13.0        1                    563.0  ...            0
14              13.0        1                    563.0  ...            0
15              13.0        1                      0.0  ...            0
16              12.0        1                     80.0  ...            0
17              13.0        1                      0.0  ...            0
18              13.0        1                    252.0  ...            0
19              13.0        1                    188.0  ...            0
20              13.0        0                      0.0  ...            0
21              13.0        1                    464.0  ...            0
22              13.0        1                      0.0  ...            0
23              13.0        1                      0.0  ...            0
24              13.0        1                    129.0  ...            0
25              13.0        0                      0.0  ...            0
26              13.0        1                      0.0  ...            0
27              13.0        1                     94.0  ...            0
28              13.0        1                    532.0  ...            0
29              13.0        1                    365.0  ...            0
30              13.0        0                      0.0  ...            0
...              ...      ...                      ...  ...          ...
5008            17.0        1                      0.0  ...            0
5009             0.0        1                      0.0  ...            0
5010             NaN        1                     26.0  ...            0
5011            17.0        0                    119.0  ...            0
5012            17.0        1                    453.0  ...            0
5013             NaN        1                      3.0  ...            0
5014            17.0        0                    892.0  ...            0
5015            17.0        1                      0.0  ...            0
5016             NaN        1                      0.0  ...            0
5017             NaN        1                    138.0  ...            0
5018             NaN        1                    589.0  ...            0
5019            17.0        1                    158.0  ...            0
5021            17.0        1                    157.0  ...            0
5022             NaN        0                      0.0  ...            0
5023             NaN        1                     38.0  ...            0
5024             0.0        1                     91.0  ...            0
5025            17.0        1                      0.0  ...            0
5026            17.0        0                    107.0  ...            0
5027             0.0        0                    397.0  ...            0
5028             NaN        0                     18.0  ...            0
5029             NaN        0                     62.0  ...            0
5031             NaN        1                    120.0  ...            0
5033            13.0        1                    291.0  ...            0
5034             0.0        0                      0.0  ...            0
5035            17.0        1                      0.0  ...            0
5036            13.0        1                      2.0  ...            0
5037             0.0        1                      0.0  ...            0
5040             NaN        1                      0.0  ...            0
5041            13.0        1                      0.0  ...            0
5042            12.0        1                     16.0  ...            0

      Mystery  Romance  Biography  Animation  War  Musical  Crime  Family  \
0           0        0          0          0    0        0      0       0
1           0        0          0          0    0        0      0       0
2           0        0          0          0    0        0      0       0
3           0        0          0          0    0        0      0       0
5           0        0          0          0    0        0      0       0
6           0        1          0          0    0        0      0       0
7           0        1          0          1    0        1      0       1
8           0        0          0          0    0        0      0       0
9           1        0          0          0    0        0      0       1
10          0        0          0          0    0        0      0       0
11          0        0          0          0    0        0      0       0
12          0        0          0          0    0        0      0       0
13          0        0          0          0    0        0      0       0
14          0        0          0          0    0        0      0       0
15          0        0          0          0    0        0      0       0
16          0        0          0          0    0        0      0       1
17          0        0          0          0    0        0      0       0
18          0        0          0          0    0        0      0       0
19          0        0          0          0    0        0      0       1
20          0        0          0          0    0        0      0       0
21          0        0          0          0    0        0      0       0
22          0        0          0          0    0        0      0       0
23          0        0          0          0    0        0      0       0
24          0        0          0          0    0        0      0       1
25          0        1          0          0    0        0      0       0
26          0        1          0          0    0        0      0       0
27          0        0          0          0    0        0      0       0
28          0        0          0          0    0        0      0       0
29          0        0          0          0    0        0      0       0
30          0        0          0          0    0        0      0       0
...       ...      ...        ...        ...  ...      ...    ...     ...
5008        0        0          0          0    0        0      0       0
5009        0        0          0          0    0        0      0       0
5010        0        0          0          0    0        0      0       0
5011        0        0          0          0    0        0      0       0
5012        0        0          0          0    0        0      1       0
5013        0        0          0          0    0        0      0       1
5014        0        0          0          0    0        0      1       0
5015        0        0          0          0    0        0      0       0
5016        0        0          0          0    0        0      1       0
5017        0        1          0          0    0        0      0       0
5018        0        0          0          0    0        0      0       0
5019        1        0          0          0    0        0      0       0
5021        0        1          0          0    0        0      0       0
5022        0        0          0          0    0        0      0       0
5023        0        1          0          0    0        0      0       0
5024        0        0          0          0    0        0      0       0
5025        0        0          0          0    0        0      1       0
5026        0        1          0          0    0        0      0       0
5027        0        0          0          0    0        0      0       0
5028        0        0          0          0    0        0      0       0
5029        1        0          0          0    0        0      1       0
5031        0        0          0          0    0        0      0       0
5033        0        0          0          0    0        0      0       0
5034        0        0          0          0    0        0      0       0
5035        0        1          0          0    0        0      1       0
5036        0        0          0          0    0        0      1       0
5037        0        0          0          0    0        0      0       0
5040        0        0          0          0    0        0      0       0
5041        0        1          0          0    0        0      0       0
5042        0        0          0          0    0        0      0       0

      Short
0         0
1         0
2         0
3         0
5         0
6         0
7         0
8         0
9         0
10        0
11        0
12        0
13        0
14        0
15        0
16        0
17        0
18        0
19        0
20        0
21        0
22        0
23        0
24        0
25        0
26        0
27        0
28        0
29        0
30        0
...     ...
5008      0
5009      0
5010      0
5011      0
5012      0
5013      0
5014      0
5015      0
5016      0
5017      0
5018      0
5019      0
5021      0
5022      0
5023      0
5024      0
5025      0
5026      0
5027      0
5028      0
5029      0
5031      0
5033      0
5034      0
5035      0
5036      0
5037      0
5040      0
5041      0
5042      0

[4900 rows x 43 columns]

# Replacing NaNs with averages

In [213]:
def replace_NaNs(col):
    # compute average
    avg = np.sum(col) / (len(col) - np.sum(col.isnull()))
    print(avg)
    
    # replace NaNs with average
    col = col.fillna(value=avg)
    return col

pd.options.mode.chained_assignment= None

to_replace_NaNs = ['actor_1_facebook_likes', 'actor_2_facebook_likes', 'actor_3_facebook_likes', 
               'aspect_ratio', 'budget', 'cast_total_facebook_likes', 'director_facebook_likes', 'gross', 'title_year'
                   , 'duration', 'facenumber_in_poster', 'content_rating']
for column in to_replace_NaNs:
    movie_data[column] = replace_NaNs(movie_data[column])

6648.62979592
1684.1759902
653.779595175
2.1284344634
39892924.8304
9849.74408163
692.662510221
48514997.6517
2002.39901881
108.243568804
1.36272504092
13.6882617062

# Delete columns with too little 1's

In [214]:
for genre in genres_set:
    print(genre, ':')
    counter = 0
    for value in movie_data[genre]:
        if value == 1.0:
            counter+=1
    print(counter)
    
weghalen = ['Game-Show', 'News', 'Reality-TV', 'Short', 'Film-Noir']

for name in weghalen:
    del movie_data[name]
    
#print(movie_data)

History :
203
Film-Noir :
6
Comedy :
1824
Horror :
550
Drama :
2509
Thriller :
1375
Fantasy :
593
Sport :
181
Adventure :
910
Documentary :
111
Action :
1131
Western :
97
Music :
213
Reality-TV :
0
Sci-Fi :
596
News :
3
Game-Show :
0
Mystery :
475
Romance :
1088
Biography :
292
Animation :
233
War :
208
Musical :
132
Crime :
858
Family :
532
Short :
3

# Trainset en testset

In [215]:
ratings = movie_data['imdb_score'].values
del movie_data['imdb_score']

X = movie_data.values
X_std = StandardScaler().fit_transform(X)

number_of_samples = len(ratings)
np.random.seed(0)
random_indices = np.random.permutation(number_of_samples)
num_training_samples = int(number_of_samples*0.6)
num_validation_samples = int(number_of_samples*0.2)+num_training_samples

movie_training = X_std[random_indices[:num_training_samples]]
ratings_training = ratings[random_indices[:num_training_samples]]

movie_validation = X_std[random_indices[num_training_samples:num_validation_samples]]
ratings_validation = ratings[random_indices[num_training_samples:num_validation_samples]]

movie_test = X_std[random_indices[num_validation_samples:]]
ratings_test = ratings[random_indices[num_validation_samples:]]

ratings_training = list(ratings_training)

print(len(ratings_training))
print(len(ratings_validation))
print(len(ratings_test))

2940
980
980

# Leren

In [216]:
def relative_error(y_predict, y):
    
    error = 0

    for i in range(len(y)):
        error += (abs(y_predict[i]-y[i]))/y[i]
    training_error = error/len(y)*100
    
    return training_error

### neural networks

In [217]:
from sklearn.neural_network import MLPRegressor

neural = MLPRegressor(activation='logistic', max_iter = 500)

neural.fit(movie_training, ratings_training)
y_neural_1 = neural.predict(movie_training)
y_neural_2 = neural.predict(movie_test)

training_error = relative_error(y_neural_1, ratings_training)

print("Train error = "+'{}'.format(training_error)+" percent"+" in neural network algorithm")

test_error = relative_error(y_neural_2,ratings_test)

print("Test error = "'{}'.format(test_error)+" percent"+" in neural network algorithm")

Train error = 10.481533827623254 percent in neural network algorithm
Test error = 10.977370064632183 percent in neural network algorithm

### k-nearest neighbors

In [218]:
regressor = KNeighborsRegressor()
regressor.fit(movie_training, ratings_training)
y_predict_train = regressor.predict(movie_training)
y_predict_train = list(y_predict_train)

train_error = relative_error(y_predict_train,ratings_training)

print("Train error = "+'{}'.format(training_error)+" percent"+" in knn algorithm")

y_predict_test = regressor.predict(movie_test)
y_predict_test = list(y_predict_test)

test_error = relative_error(y_predict_test, ratings_test)

print("Test error = "'{}'.format(test_error)+" percent"+" in knn algorithm")

Train error = 10.481533827623254 percent in knn algorithm
Test error = 12.673746424295157 percent in knn algorithm

### Support vector machine

In [219]:
from sklearn.svm import SVR, NuSVR, LinearSVR
svr = SVR()
svr.fit(movie_training, ratings_training)
y_train = svr.predict(movie_training)
y_train = list(y_train)

train_error = relative_error(y_train, ratings_training)

print ("Train error = "+'{}'.format(train_error))

y_test = svr.predict(movie_test)
y_test = list(y_test)

test_error = relative_error(y_test, ratings_test)

print ("Test error = "+'{}'.format(test_error))

Train error = 9.150128853631944
Test error = 10.858612788391119

### Random Forest

In [220]:
from sklearn.ensemble import RandomForestRegressor, BaggingRegressor

random_forest = RandomForestRegressor()
random_forest.fit(movie_training, ratings_training)
y_predict_train = regressor.predict(movie_training)
y_predict_train = list(y_predict_train)

test_error = relative_error(y_predict_train, ratings_training)

print("Train error = "+'{}'.format(training_error)+" percent"+" in random forest")

y_predict_test = regressor.predict(movie_test)
y_predict_test = list(y_predict_test)

test_error = relative_error(y_predict_test, ratings_test)

print("Test error = "'{}'.format(test_error)+" percent"+" in random forest")

Train error = 10.481533827623254 percent in random forest
Test error = 12.673746424295157 percent in random forest

### Bagging regressor

In [221]:
#regressor  = BaggingRegressor(MLPRegressor(max_iter = 300))
regressor  = BaggingRegressor(SVR())
regressor.fit(movie_training, ratings_training)
y_predict_train = regressor.predict(movie_training)
y_predict_train = list(y_predict_train)

test_error = relative_error(y_predict_train ,ratings_training)

print("Train error = "+'{}'.format(training_error)+" percent"+" in random forest")

y_predict_test = regressor.predict(movie_test)
y_predict_test = list(y_predict_test)

test_error = relative_error(y_predict_test, ratings_test)

print("Test error = "'{}'.format(test_error)+" percent"+" in random forest")

Train error = 10.481533827623254 percent in random forest
Test error = 10.843104428460116 percent in random forest

# Validation

### neural networks

In [223]:
neural_1 = MLPRegressor(hidden_layer_sizes = 5, max_iter = 1000)
neural_2 = MLPRegressor(hidden_layer_sizes = 20, max_iter = 1000)
neural_3 = MLPRegressor(hidden_layer_sizes = 100, max_iter = 1000)