In [2]:
import numpy as np
import csv
import pandas as pd
from sklearn.preprocessing import StandardScaler
from sklearn.neighbors import KNeighborsClassifier, KNeighborsRegressor
from sklearn.preprocessing import LabelEncoder


#reads in the data
data = pd.read_csv('movie_metadata.csv')

#removes the values that aren't numeric
to_drop = ['director_name', 'num_critic_for_reviews', 'actor_2_name','actor_1_name', 'movie_title', 'num_voted_users'
           , 'actor_3_name', 'plot_keywords', 'movie_imdb_link', 'num_user_for_reviews']

#makes the new data set without the to_drop colums
features_list = data.columns.difference(to_drop)
movie_data = data[features_list]
#print(np.sum(movie_num.isnull()))
#print(movie_data.content_rating.unique())
pd.options.mode.chained_assignment = None 

        
print('Done')

Done

# Deleting NaN's

In [2]:
NA_THRESH = 4

#deletes the row when there are more or equal to the threshod number of NaN's
def remove_too_many_NaN(data, threshold):
    print("Length before deletion: {}".format(len(data)))

    remove_indices = []
    for index, nNaN in data.isnull().sum(axis=1).iteritems():
        if nNaN >= threshold:
            remove_indices.append(index)
    
    # drop movies with too many NaNs
    data = data.drop(data.index[remove_indices])
    print("Length after deletion: {}".format(len(data)))
    
    return data

#returns length
movie_data = remove_too_many_NaN(movie_data, NA_THRESH)

Length before deletion: 5043
Length after deletion: 4900

# Changing Color to Numeric

In [3]:
#replaces the color value to 1
new_color_column = movie_data.color.replace(to_replace = 'Color', value = 1)

#replaces the NaN or black and white values to 0
for item in new_color_column:
    if item != 1:
        new_color_column = new_color_column.replace(to_replace = item, value = 0)
        
movie_data.color = new_color_column 
#print(movie_data['color'])

#makes sure that there is nog error where it shouldn't be
pd.options.mode.chained_assignment= None
print('Done')

Done

# Changing Country to Numeric

In [4]:
#replaces the USA values to 1
new_country_column = movie_data.country.replace(to_replace ='USA', value = 1)

#replaces the NaN or non USA values to 0
for item in new_country_column:
    if item != 1:
        new_country_column = movie_data.country.replace(to_replace = item, value = 0)

movie_data.country = new_country_column        
print(movie_data['country'])

#makes sure that there is nog error where it shouldn't be
pd.options.mode.chained_assignment= None
print('Done')

0               USA
1               USA
2                UK
3               USA
4               NaN
5               USA
6               USA
7               USA
8               USA
9                UK
10              USA
11              USA
12               UK
13              USA
14              USA
15              USA
16              USA
17              USA
18              USA
19              USA
20      New Zealand
21              USA
22              USA
23              USA
24              USA
25      New Zealand
26              USA
27              USA
28              USA
29              USA
           ...
5013            USA
5014              0
5015            USA
5016            USA
5017            USA
5018            USA
5019            USA
5020            USA
5021            USA
5022          Kenya
5023            USA
5024            USA
5025            USA
5026         France
5027           Iran
5028        Ireland
5029          Japan
5030            USA
5031            USA
5032            USA
5033            USA
5034    Philippines
5035            USA
5036            USA
5037            USA
5038              0
5039            USA
5040            USA
5041            USA
5042            USA
Name: country, dtype: object
Done

# Changing Languange to Numeric

In [6]:
#replaces the English values to 1
new_language_column = movie_data.language.replace(to_replace = 'English', value = 1)

#replaces the other values to 0
for item in new_language_column:
    if item != 1:
        new_language_column = new_language_column.replace(to_replace = item, value = 0)
        
movie_data.language = new_language_column 
#print(movie_data['language'])

#makes sure that there is nog error where it shouldn't be
pd.options.mode.chained_assignment= None
print('Done')

Done

# Changing Genres into individual Columns

In [7]:
genres = []

for string in movie_data['genres']:
    genre = string.split('|')
    genres = genres+genre
    
print(set(genres))

set(['Sci-Fi', 'Crime', 'Romance', 'Animation', 'Music', 'Comedy', 'War', 'Horror', 'Film-Noir', 'Adventure', 'News', 'Thriller', 'Western', 'Mystery', 'Short', 'Drama', 'Action', 'Documentary', 'Musical', 'History', 'Family', 'Fantasy', 'Sport', 'Biography'])

# Chaning Content_Rating to Numeric

In [13]:
def content_to_numerical(data):
    data = data.replace(to_replace='G', value=0)
    data = data.replace(to_replace='PG', value=12)
    data = data.replace(to_replace='PG-13', value=13)
    data = data.replace(to_replace='R', value=17)
    data = data.replace(to_replace='NC-17', value=17)
    
    data = data.replace(to_replace='TV-PG', value=12)
    data = data.replace(to_replace='TV-MA', value=17)
    data = data.replace(to_replace='TV-G', value=0)
    data = data.replace(to_replace='TV-Y', value=0)
    data = data.replace(to_replace='TV-Y7', value=7)
    data = data.replace(to_replace='TV-14', value=14)
    
    data = data.replace(to_replace='Not Rated', value=0)
    data = data.replace(to_replace='Unrated', value=0)
    data = data.replace(to_replace='Approved', value=0)
    data = data.replace(to_replace='Passed', value=0)
    
    data = data.replace(to_replace='X', value=17)
    data = data.replace(to_replace='M', value=17)
    data = data.replace(to_replace='GP', value=12)
    
    return data

movie_data = content_to_numerical(movie_data)
print(movie_data)

      actor_1_facebook_likes  actor_2_facebook_likes  actor_3_facebook_likes  \
0                     1000.0                   936.0                   855.0
1                    40000.0                  5000.0                  1000.0
2                    11000.0                   393.0                   161.0
3                    27000.0                 23000.0                 23000.0
5                      640.0                   632.0                   530.0
6                    24000.0                 11000.0                  4000.0
7                      799.0                   553.0                   284.0
8                    26000.0                 21000.0                 19000.0
9                    25000.0                 11000.0                 10000.0
10                   15000.0                  4000.0                  2000.0
11                   18000.0                 10000.0                   903.0
12                     451.0                   412.0                   393.0
13                   40000.0                  5000.0                  1000.0
14                   40000.0                  2000.0                  1000.0
15                   15000.0                  3000.0                   748.0
16                   22000.0                   216.0                   201.0
17                   26000.0                 21000.0                 19000.0
18                   40000.0                 11000.0                  1000.0
19                   10000.0                   816.0                   718.0
20                    5000.0                   972.0                   773.0
21                   15000.0                 10000.0                   963.0
22                     891.0                   882.0                   738.0
23                    5000.0                   972.0                   773.0
24                   16000.0                  6000.0                  1000.0
25                    6000.0                   919.0                    84.0
26                   29000.0                 14000.0                   794.0
27                   21000.0                 19000.0                 11000.0
28                   14000.0                 10000.0                   627.0
29                    3000.0                  2000.0                  1000.0
30                     883.0                   563.0                   393.0
...                      ...                     ...                     ...
5008                   898.0                   657.0                   216.0
5009                     0.0                     0.0                     NaN
5010                    26.0                     6.0                     3.0
5011                   136.0                   108.0                     7.0
5012                  1000.0                   206.0                   120.0
5013                    93.0                    46.0                    42.0
5014                   986.0                   918.0                   492.0
5015                     5.0                     0.0                     0.0
5016                   313.0                    25.0                     9.0
5017                   370.0                   184.0                   138.0
5018                    51.0                    49.0                     4.0
5019                   630.0                   512.0                   265.0
5021                   830.0                   224.0                    10.0
5022                   147.0                    19.0                     4.0
5023                   331.0                   212.0                   211.0
5024                   407.0                    91.0                    86.0
5025                   462.0                   143.0                   105.0
5026                   576.0                   133.0                    45.0
5027                     5.0                     0.0                     0.0
5028                    10.0                     5.0                     0.0
5029                    89.0                    13.0                     6.0
5031                   785.0                    98.0                    84.0
5033                   291.0                    45.0                     8.0
5034                     0.0                     0.0                     0.0
5035                   121.0                    20.0                     6.0
5036                    45.0                    44.0                     2.0
5037                   296.0                   205.0                   133.0
5040                     0.0                     0.0                     0.0
5041                   946.0                   719.0                   489.0
5042                    86.0                    23.0                    16.0

      aspect_ratio       budget  cast_total_facebook_likes  color  \
0             1.78  237000000.0                       4834    1.0
1             2.35  300000000.0                      48350    1.0
2             2.35  245000000.0                      11700    1.0
3             2.35  250000000.0                     106759    1.0
5             2.35  263700000.0                       1873    1.0
6             2.35  258000000.0                      46055    1.0
7             1.85  260000000.0                       2036    1.0
8             2.35  250000000.0                      92000    1.0
9             2.35  250000000.0                      58753    1.0
10            2.35  250000000.0                      24450    1.0
11            2.35  209000000.0                      29991    1.0
12            2.35  200000000.0                       2023    1.0
13            2.35  225000000.0                      48486    1.0
14            2.35  215000000.0                      45757    1.0
15            2.35  225000000.0                      20495    1.0
16            2.35  225000000.0                      22697    1.0
17            1.85  220000000.0                      87697    1.0
18            2.35  250000000.0                      54083    1.0
19            1.85  225000000.0                      12572    1.0
20            2.35  250000000.0                       9152    1.0
21            2.35  230000000.0                      28489    1.0
22            2.35  200000000.0                       3244    1.0
23            2.35  225000000.0                       9152    1.0
24            2.35  180000000.0                      24106    1.0
25            2.35  207000000.0                       7123    1.0
26            2.35  200000000.0                      45223    1.0
27            2.35  250000000.0                      64798    1.0
28            2.35  209000000.0                      26679    1.0
29            2.00  150000000.0                       8458    1.0
30            2.35  200000000.0                       2039    1.0
...            ...          ...                        ...    ...
5008          1.37     230000.0                       2103    0.0
5009          1.37      27000.0                          0    1.0
5010          1.37          NaN                         40    1.0
5011          1.85      25000.0                        254    1.0
5012          1.85   35000000.0                       1458    1.0
5013          1.78      24000.0                        243    1.0
5014          2.35          NaN                       3197    1.0
5015          1.37      23000.0                          5    0.0
5016           NaN      25000.0                        366    1.0
5017          1.78      22000.0                        841    1.0
5018          1.85      20000.0                        108    1.0
5019          1.85          NaN                       2679    1.0
5021           NaN      15000.0                       1064    1.0
5022           NaN      15000.0                        170    0.0
5023          2.35      15000.0                       1546    1.0
5024          2.35      20000.0                        674    1.0
5025          1.37      10000.0                        760    1.0
5026          2.35       4500.0                        776    1.0
5027          1.85      10000.0                          5    1.0
5028          1.33      10000.0                         15    0.0
5029          1.85    1000000.0                        115    1.0
5031         16.00     200000.0                       1111    1.0
5033          1.85       7000.0                        368    1.0
5034           NaN       7000.0                          0    1.0
5035          1.37       7000.0                        147    1.0
5036           NaN       3250.0                         93    1.0
5037           NaN       9000.0                        690    1.0
5040           NaN       1400.0                          0    1.0
5041          2.35          NaN                       2386    1.0
5042          1.85       1100.0                        163    1.0

      content_rating  country  director_facebook_likes  duration  \
0               13.0        1                      0.0     178.0
1               13.0        1                    563.0     169.0
2               13.0        0                      0.0     148.0
3               13.0        1                  22000.0     164.0
5               13.0        1                    475.0     132.0
6               13.0        1                      0.0     156.0
7               12.0        1                     15.0     100.0
8               13.0        1                      0.0     141.0
9               12.0        0                    282.0     153.0
10              13.0        1                      0.0     183.0
11              13.0        1                      0.0     169.0
12              13.0        0                    395.0     106.0
13              13.0        1                    563.0     151.0
14              13.0        1                    563.0     150.0
15              13.0        1                      0.0     143.0
16              12.0        1                     80.0     150.0
17              13.0        1                      0.0     173.0
18              13.0        1                    252.0     136.0
19              13.0        1                    188.0     106.0
20              13.0        0                      0.0     164.0
21              13.0        1                    464.0     153.0
22              13.0        1                      0.0     156.0
23              13.0        1                      0.0     186.0
24              13.0        1                    129.0     113.0
25              13.0        0                      0.0     201.0
26              13.0        1                      0.0     194.0
27              13.0        1                     94.0     147.0
28              13.0        1                    532.0     131.0
29              13.0        1                    365.0     124.0
30              13.0        0                      0.0     143.0
...              ...      ...                      ...       ...
5008            17.0        1                      0.0     102.0
5009             0.0        1                      0.0      65.0
5010             NaN        1                     26.0      85.0
5011            17.0        0                    119.0      97.0
5012            17.0        1                    453.0     109.0
5013             NaN        1                      3.0      79.0
5014            17.0        0                    892.0      80.0
5015            17.0        1                      0.0     100.0
5016             NaN        1                      0.0      90.0
5017             NaN        1                    138.0      90.0
5018             NaN        1                    589.0     120.0
5019            17.0        1                    158.0      91.0
5021            17.0        1                    157.0      85.0
5022             NaN        0                      0.0      60.0
5023             NaN        1                     38.0      88.0
5024             0.0        1                     91.0      78.0
5025            17.0        1                      0.0     108.0
5026            17.0        0                    107.0     110.0
5027             0.0        0                    397.0      90.0
5028             NaN        0                     18.0      83.0
5029             NaN        0                     62.0     111.0
5031             NaN        1                    120.0      82.0
5033            13.0        1                    291.0      77.0
5034             0.0        0                      0.0      80.0
5035            17.0        1                      0.0      81.0
5036            13.0        1                      2.0      84.0
5037             0.0        1                      0.0      95.0
5040             NaN        1                      0.0      76.0
5041            13.0        1                      0.0     100.0
5042            12.0        1                     16.0      90.0

      facenumber_in_poster                                             genres  \
0                      0.0                    Action|Adventure|Fantasy|Sci-Fi
1                      0.0                           Action|Adventure|Fantasy
2                      1.0                          Action|Adventure|Thriller
3                      0.0                                    Action|Thriller
5                      1.0                            Action|Adventure|Sci-Fi
6                      0.0                           Action|Adventure|Romance
7                      1.0  Adventure|Animation|Comedy|Family|Fantasy|Musi...
8                      4.0                            Action|Adventure|Sci-Fi
9                      3.0                   Adventure|Family|Fantasy|Mystery
10                     0.0                            Action|Adventure|Sci-Fi
11                     0.0                            Action|Adventure|Sci-Fi
12                     1.0                                   Action|Adventure
13                     2.0                           Action|Adventure|Fantasy
14                     1.0                           Action|Adventure|Western
15                     0.0                    Action|Adventure|Fantasy|Sci-Fi
16                     4.0                    Action|Adventure|Family|Fantasy
17                     3.0                            Action|Adventure|Sci-Fi
18                     4.0                           Action|Adventure|Fantasy
19                     1.0      Action|Adventure|Comedy|Family|Fantasy|Sci-Fi
20                     0.0                                  Adventure|Fantasy
21                     0.0                           Action|Adventure|Fantasy
22                     0.0                     Action|Adventure|Drama|History
23                     6.0                                  Adventure|Fantasy
24                     2.0                           Adventure|Family|Fantasy
25                     0.0                     Action|Adventure|Drama|Romance
26                     0.0                                      Drama|Romance
27                     0.0                            Action|Adventure|Sci-Fi
28                     0.0                   Action|Adventure|Sci-Fi|Thriller
29                     0.0                   Action|Adventure|Sci-Fi|Thriller
30                     0.0                          Action|Adventure|Thriller
...                    ...                                                ...
5008                   4.0                                             Comedy
5009                   1.0                                      Drama|Fantasy
5010                   1.0                                       Comedy|Drama
5011                   0.0                                       Comedy|Drama
5012                   3.0                        Action|Crime|Drama|Thriller
5013                   0.0                                       Drama|Family
5014                   0.0                              Action|Crime|Thriller
5015                   0.0                                       Comedy|Drama
5016                   2.0                               Crime|Drama|Thriller
5017                   1.0                                     Comedy|Romance
5018                   1.0                                              Drama
5019                   0.0                            Horror|Mystery|Thriller
5021                   0.0                               Comedy|Drama|Romance
5022                   0.0                                              Drama
5023                   2.0                                            Romance
5024                   0.0                                    Sci-Fi|Thriller
5025                   2.0                                Comedy|Crime|Horror
5026                   1.0                                Drama|Music|Romance
5027                   0.0                                              Drama
5028                   0.0                                             Horror
5029                   0.0                      Crime|Horror|Mystery|Thriller
5031                   NaN                             Comedy|Horror|Thriller
5033                   0.0                              Drama|Sci-Fi|Thriller
5034                   0.0                                           Thriller
5035                   0.0                Action|Crime|Drama|Romance|Thriller
5036                   0.0                                        Crime|Drama
5037                   1.0                                       Comedy|Drama
5040                   0.0                              Drama|Horror|Thriller
5041                   5.0                               Comedy|Drama|Romance
5042                   0.0                                        Documentary

            gross  imdb_score  language  movie_facebook_likes  title_year
0     760505847.0         7.9         1                 33000      2009.0
1     309404152.0         7.1         1                     0      2007.0
2     200074175.0         6.8         1                 85000      2015.0
3     448130642.0         8.5         1                164000      2012.0
5      73058679.0         6.6         1                 24000      2012.0
6     336530303.0         6.2         1                     0      2007.0
7     200807262.0         7.8         1                 29000      2010.0
8     458991599.0         7.5         1                118000      2015.0
9     301956980.0         7.5         1                 10000      2009.0
10    330249062.0         6.9         1                197000      2016.0
11    200069408.0         6.1         1                     0      2006.0
12    168368427.0         6.7         1                     0      2008.0
13    423032628.0         7.3         1                  5000      2006.0
14     89289910.0         6.5         1                 48000      2013.0
15    291021565.0         7.2         1                118000      2013.0
16    141614023.0         6.6         1                     0      2008.0
17    623279547.0         8.1         1                123000      2012.0
18    241063875.0         6.7         1                 58000      2011.0
19    179020854.0         6.8         1                 40000      2012.0
20    255108370.0         7.5         1                 65000      2014.0
21    262030663.0         7.0         1                 56000      2012.0
22    105219735.0         6.7         1                 17000      2010.0
23    258355354.0         7.9         1                 83000      2013.0
24     70083519.0         6.1         1                     0      2007.0
25    218051260.0         7.2         1                     0      2005.0
26    658672302.0         7.7         1                 26000      1997.0
27    407197282.0         8.2         1                 72000      2016.0
28     65173160.0         5.9         1                 44000      2012.0
29    652177271.0         7.0         1                150000      2015.0