In [1]:
import numpy as np
import csv
import pandas as pd
from sklearn.preprocessing import StandardScaler
from sklearn.neighbors import KNeighborsClassifier, KNeighborsRegressor
from sklearn.preprocessing import LabelEncoder


#reads in the data
data = pd.read_csv('movie_metadata.csv')

#removes the values that aren't numeric
to_drop = ['director_name', 'num_critic_for_reviews', 'actor_2_name','actor_1_name', 'movie_title', 'num_voted_users'
           , 'actor_3_name', 'plot_keywords', 'movie_imdb_link', 'num_user_for_reviews']

#makes the new data set without the to_drop colums
features_list = data.columns.difference(to_drop)
movie_data = data[features_list]
#print(np.sum(movie_num.isnull()))
#print(movie_data.content_rating.unique())
pd.options.mode.chained_assignment = None 

        
print('Done')

Done

# Changing Genres into individual Columns

In [2]:
genres = []

for string in movie_data['genres']:
    genre = string.split('|')
    genres = genres+genre
    
genres_set = set(genres)
print(genres_set)

set(['Sci-Fi', 'Crime', 'Romance', 'Animation', 'Music', 'Comedy', 'War', 'Horror', 'Film-Noir', 'Adventure', 'News', 'Reality-TV', 'Thriller', 'Western', 'Mystery', 'Short', 'Drama', 'Action', 'Documentary', 'Musical', 'History', 'Family', 'Fantasy', 'Game-Show', 'Sport', 'Biography'])

In [3]:
genres_dict = dict()
for genre in genres_set:
    genres_dict[genre] = []
    
for string in movie_data.genres:
    genres = string.split('|')
    for genre in genres_set:
        if genre in genres:
            genres_dict[genre] = genres_dict[genre]+[1]
        else:
            genres_dict[genre] = genres_dict[genre]+[0]

del movie_data['genres']
#print(genres_dict['Short'])

for genre in genres_set:
    series = pd.Series(genres_dict[genre])
    movie_data[genre] = series

#print(movie_data['Short'].values)    
print('Done')

Done

# Deleting NaN's

In [4]:
NA_THRESH = 4

#deletes the row when there are more or equal to the threshod number of NaN's
def remove_too_many_NaN(data, threshold):
    print("Length before deletion: {}".format(len(data)))

    remove_indices = []
    for index, nNaN in data.isnull().sum(axis=1).iteritems():
        if nNaN >= threshold:
            remove_indices.append(index)
    
    # drop movies with too many NaNs
    data = data.drop(data.index[remove_indices])
    print("Length after deletion: {}".format(len(data)))
    
    return data

#returns length
movie_data = remove_too_many_NaN(movie_data, NA_THRESH)

Length before deletion: 5043
Length after deletion: 4900

# Replacing NaNs with averages

In [5]:
def replace_NaNs(col):
    # compute average
    avg = np.sum(col) / (len(col) - np.sum(col.isnull()))
    print(avg)
    
    # replace NaNs with average
    col = col.fillna(value=avg)
    return col

pd.options.mode.chained_assignment= None

to_replace_NaNs = ['actor_1_facebook_likes', 'actor_2_facebook_likes', 'actor_3_facebook_likes', 
               'aspect_ratio', 'budget', 'cast_total_facebook_likes', 'director_facebook_likes']
for column in to_replace_NaNs:
    movie_data[column] = replace_NaNs(movie_data[column])

print(movie_data)

6648.62979592
1684.1759902
653.779595175
2.1284344634
39892924.8304
9849
692.662510221
      actor_1_facebook_likes  actor_2_facebook_likes  actor_3_facebook_likes  \
0                     1000.0                   936.0              855.000000
1                    40000.0                  5000.0             1000.000000
2                    11000.0                   393.0              161.000000
3                    27000.0                 23000.0            23000.000000
5                      640.0                   632.0              530.000000
6                    24000.0                 11000.0             4000.000000
7                      799.0                   553.0              284.000000
8                    26000.0                 21000.0            19000.000000
9                    25000.0                 11000.0            10000.000000
10                   15000.0                  4000.0             2000.000000
11                   18000.0                 10000.0              903.000000
12                     451.0                   412.0              393.000000
13                   40000.0                  5000.0             1000.000000
14                   40000.0                  2000.0             1000.000000
15                   15000.0                  3000.0              748.000000
16                   22000.0                   216.0              201.000000
17                   26000.0                 21000.0            19000.000000
18                   40000.0                 11000.0             1000.000000
19                   10000.0                   816.0              718.000000
20                    5000.0                   972.0              773.000000
21                   15000.0                 10000.0              963.000000
22                     891.0                   882.0              738.000000
23                    5000.0                   972.0              773.000000
24                   16000.0                  6000.0             1000.000000
25                    6000.0                   919.0               84.000000
26                   29000.0                 14000.0              794.000000
27                   21000.0                 19000.0            11000.000000
28                   14000.0                 10000.0              627.000000
29                    3000.0                  2000.0             1000.000000
30                     883.0                   563.0              393.000000
...                      ...                     ...                     ...
5008                   898.0                   657.0              216.000000
5009                     0.0                     0.0              653.779595
5010                    26.0                     6.0                3.000000
5011                   136.0                   108.0                7.000000
5012                  1000.0                   206.0              120.000000
5013                    93.0                    46.0               42.000000
5014                   986.0                   918.0              492.000000
5015                     5.0                     0.0                0.000000
5016                   313.0                    25.0                9.000000
5017                   370.0                   184.0              138.000000
5018                    51.0                    49.0                4.000000
5019                   630.0                   512.0              265.000000
5021                   830.0                   224.0               10.000000
5022                   147.0                    19.0                4.000000
5023                   331.0                   212.0              211.000000
5024                   407.0                    91.0               86.000000
5025                   462.0                   143.0              105.000000
5026                   576.0                   133.0               45.000000
5027                     5.0                     0.0                0.000000
5028                    10.0                     5.0                0.000000
5029                    89.0                    13.0                6.000000
5031                   785.0                    98.0               84.000000
5033                   291.0                    45.0                8.000000
5034                     0.0                     0.0                0.000000
5035                   121.0                    20.0                6.000000
5036                    45.0                    44.0                2.000000
5037                   296.0                   205.0              133.000000
5040                     0.0                     0.0                0.000000
5041                   946.0                   719.0              489.000000
5042                    86.0                    23.0               16.000000

      aspect_ratio        budget  cast_total_facebook_likes             color  \
0         1.780000  2.370000e+08                       4834             Color
1         2.350000  3.000000e+08                      48350             Color
2         2.350000  2.450000e+08                      11700             Color
3         2.350000  2.500000e+08                     106759             Color
5         2.350000  2.637000e+08                       1873             Color
6         2.350000  2.580000e+08                      46055             Color
7         1.850000  2.600000e+08                       2036             Color
8         2.350000  2.500000e+08                      92000             Color
9         2.350000  2.500000e+08                      58753             Color
10        2.350000  2.500000e+08                      24450             Color
11        2.350000  2.090000e+08                      29991             Color
12        2.350000  2.000000e+08                       2023             Color
13        2.350000  2.250000e+08                      48486             Color
14        2.350000  2.150000e+08                      45757             Color
15        2.350000  2.250000e+08                      20495             Color
16        2.350000  2.250000e+08                      22697             Color
17        1.850000  2.200000e+08                      87697             Color
18        2.350000  2.500000e+08                      54083             Color
19        1.850000  2.250000e+08                      12572             Color
20        2.350000  2.500000e+08                       9152             Color
21        2.350000  2.300000e+08                      28489             Color
22        2.350000  2.000000e+08                       3244             Color
23        2.350000  2.250000e+08                       9152             Color
24        2.350000  1.800000e+08                      24106             Color
25        2.350000  2.070000e+08                       7123             Color
26        2.350000  2.000000e+08                      45223             Color
27        2.350000  2.500000e+08                      64798             Color
28        2.350000  2.090000e+08                      26679             Color
29        2.000000  1.500000e+08                       8458             Color
30        2.350000  2.000000e+08                       2039             Color
...            ...           ...                        ...               ...
5008      1.370000  2.300000e+05                       2103   Black and White
5009      1.370000  2.700000e+04                          0             Color
5010      1.370000  3.989292e+07                         40             Color
5011      1.850000  2.500000e+04                        254             Color
5012      1.850000  3.500000e+07                       1458             Color
5013      1.780000  2.400000e+04                        243             Color
5014      2.350000  3.989292e+07                       3197             Color
5015      1.370000  2.300000e+04                          5   Black and White
5016      2.128434  2.500000e+04                        366             Color
5017      1.780000  2.200000e+04                        841             Color
5018      1.850000  2.000000e+04                        108             Color
5019      1.850000  3.989292e+07                       2679             Color
5021      2.128434  1.500000e+04                       1064             Color
5022      2.128434  1.500000e+04                        170   Black and White
5023      2.350000  1.500000e+04                       1546             Color
5024      2.350000  2.000000e+04                        674             Color
5025      1.370000  1.000000e+04                        760             Color
5026      2.350000  4.500000e+03                        776             Color
5027      1.850000  1.000000e+04                          5             Color
5028      1.330000  1.000000e+04                         15   Black and White
5029      1.850000  1.000000e+06                        115             Color
5031     16.000000  2.000000e+05                       1111             Color
5033      1.850000  7.000000e+03                        368             Color
5034      2.128434  7.000000e+03                          0             Color
5035      1.370000  7.000000e+03                        147             Color
5036      2.128434  3.250000e+03                         93             Color
5037      2.128434  9.000000e+03                        690             Color
5040      2.128434  1.400000e+03                          0             Color
5041      2.350000  3.989292e+07                       2386             Color
5042      1.850000  1.100000e+03                        163             Color

     content_rating      country  director_facebook_likes    ...      Drama  \
0             PG-13          USA                      0.0    ...          0
1             PG-13          USA                    563.0    ...          0
2             PG-13           UK                      0.0    ...          0
3             PG-13          USA                  22000.0    ...          0
5             PG-13          USA                    475.0    ...          0
6             PG-13          USA                      0.0    ...          0
7                PG          USA                     15.0    ...          0
8             PG-13          USA                      0.0    ...          0
9                PG           UK                    282.0    ...          0
10            PG-13          USA                      0.0    ...          0
11            PG-13          USA                      0.0    ...          0
12            PG-13           UK                    395.0    ...          0
13            PG-13          USA                    563.0    ...          0
14            PG-13          USA                    563.0    ...          0
15            PG-13          USA                      0.0    ...          0
16               PG          USA                     80.0    ...          0
17            PG-13          USA                      0.0    ...          0
18            PG-13          USA                    252.0    ...          0
19            PG-13          USA                    188.0    ...          0
20            PG-13  New Zealand                      0.0    ...          0
21            PG-13          USA                    464.0    ...          0
22            PG-13          USA                      0.0    ...          1
23            PG-13          USA                      0.0    ...          0
24            PG-13          USA                    129.0    ...          0
25            PG-13  New Zealand                      0.0    ...          1
26            PG-13          USA                      0.0    ...          1
27            PG-13          USA                     94.0    ...          0
28            PG-13          USA                    532.0    ...          0
29            PG-13          USA                    365.0    ...          0
30            PG-13           UK                      0.0    ...          0
...             ...          ...                      ...    ...        ...
5008              R          USA                      0.0    ...          0
5009      Not Rated          USA                      0.0    ...          1
5010            NaN          USA                     26.0    ...          1
5011              R       Canada                    119.0    ...          1
5012              R          USA                    453.0    ...          1
5013            NaN          USA                      3.0    ...          1
5014              R       Canada                    892.0    ...          0
5015              R          USA                      0.0    ...          1
5016            NaN          USA                      0.0    ...          1
5017            NaN          USA                    138.0    ...          0
5018            NaN          USA                    589.0    ...          1
5019              R          USA                    158.0    ...          0
5021              R          USA                    157.0    ...          1
5022            NaN        Kenya                      0.0    ...          1
5023            NaN          USA                     38.0    ...          0
5024        Unrated          USA                     91.0    ...          0
5025          NC-17          USA                      0.0    ...          0
5026              R       France                    107.0    ...          1
5027      Not Rated         Iran                    397.0    ...          1
5028            NaN      Ireland                     18.0    ...          0
5029            NaN        Japan                     62.0    ...          0
5031            NaN          USA                    120.0    ...          0
5033          PG-13          USA                    291.0    ...          1
5034      Not Rated  Philippines                      0.0    ...          0
5035              R          USA                      0.0    ...          1
5036          PG-13          USA                      2.0    ...          1
5037      Not Rated          USA                      0.0    ...          1
5040            NaN          USA                      0.0    ...          1
5041          PG-13          USA                      0.0    ...          1
5042             PG          USA                     16.0    ...          0

      Action  Documentary  Musical History  Family  Fantasy  Game-Show  Sport  \
0          1            0        0       0       0        1          0      0
1          1            0        0       0       0        1          0      0
2          1            0        0       0       0        0          0      0
3          1            0        0       0       0        0          0      0
5          1            0        0       0       0        0          0      0
6          1            0        0       0       0        0          0      0
7          0            0        1       0       1        1          0      0
8          1            0        0       0       0        0          0      0
9          0            0        0       0       1        1          0      0
10         1            0        0       0       0        0          0      0
11         1            0        0       0       0        0          0      0
12         1            0        0       0       0        0          0      0
13         1            0        0       0       0        1          0      0
14         1            0        0       0       0        0          0      0
15         1            0        0       0       0        1          0      0
16         1            0        0       0       1        1          0      0
17         1            0        0       0       0        0          0      0
18         1            0        0       0       0        1          0      0
19         1            0        0       0       1        1          0      0
20         0            0        0       0       0        1          0      0
21         1            0        0       0       0        1          0      0
22         1            0        0       1       0        0          0      0
23         0            0        0       0       0        1          0      0
24         0            0        0       0       1        1          0      0
25         1            0        0       0       0        0          0      0
26         0            0        0       0       0        0          0      0
27         1            0        0       0       0        0          0      0
28         1            0        0       0       0        0          0      0
29         1            0        0       0       0        0          0      0
30         1            0        0       0       0        0          0      0
...      ...          ...      ...     ...     ...      ...        ...    ...
5008       0            0        0       0       0        0          0      0
5009       0            0        0       0       0        1          0      0
5010       0            0        0       0       0        0          0      0
5011       0            0        0       0       0        0          0      0
5012       1            0        0       0       0        0          0      0
5013       0            0        0       0       1        0          0      0
5014       1            0        0       0       0        0          0      0
5015       0            0        0       0       0        0          0      0
5016       0            0        0       0       0        0          0      0
5017       0            0        0       0       0        0          0      0
5018       0            0        0       0       0        0          0      0
5019       0            0        0       0       0        0          0      0
5021       0            0        0       0       0        0          0      0
5022       0            0        0       0       0        0          0      0
5023       0            0        0       0       0        0          0      0
5024       0            0        0       0       0        0          0      0
5025       0            0        0       0       0        0          0      0
5026       0            0        0       0       0        0          0      0
5027       0            0        0       0       0        0          0      0
5028       0            0        0       0       0        0          0      0
5029       0            0        0       0       0        0          0      0
5031       0            0        0       0       0        0          0      0
5033       0            0        0       0       0        0          0      0
5034       0            0        0       0       0        0          0      0
5035       1            0        0       0       0        0          0      0
5036       0            0        0       0       0        0          0      0
5037       0            0        0       0       0        0          0      0
5040       0            0        0       0       0        0          0      0
5041       0            0        0       0       0        0          0      0
5042       0            1        0       0       0        0          0      0

      Biography
0             0
1             0
2             0
3             0
5             0
6             0
7             0
8             0
9             0
10            0
11            0
12            0
13            0
14            0
15            0
16            0
17            0
18            0
19            0
20            0
21            0
22            0
23            0
24            0
25            0
26            0
27            0
28            0
29            0
30            0
...         ...
5008          0
5009          0
5010          0
5011          0
5012          0
5013          0
5014          0
5015          0
5016          0
5017          0
5018          0
5019          0
5021          0
5022          0

# Changing Color to Numeric

In [6]:
#replaces the color value to 1
movie_data.color = movie_data.color.replace(to_replace = 'Color', value = 1)
movie_data.color = movie_data.color.replace(to_replace = 'NaN', value = 1)

#replaces the NaN or black and white values to 0
for item in movie_data.color:
    if item != 1:
        movie_data.color = movie_data.color.replace(to_replace = item, value = 0)
        
#movie_data.color = new_color_column 
#print(movie_data['color'])

#makes sure that there is nog error where it shouldn't be
pd.options.mode.chained_assignment= None
print('Done')

Done

# Changing Country to Numeric

In [7]:
#replaces the USA values to 1
movie_data.country = movie_data.country.replace(to_replace ='USA', value = 1)
movie_data.country = movie_data.country.replace(to_replace ='NaN', value = 1)
#replaces the NaN or non USA values to 0
for item in movie_data.country:
    if item != 1:
        movie_data.country = movie_data.country.replace(to_replace = item, value = 0)
       
#print(movie_data['country'])

#makes sure that there is nog error where it shouldn't be
pd.options.mode.chained_assignment= None

print('Done')

Done

# Changing Languange to Numeric

In [8]:
#replaces the English values to 1
movie_data.language = movie_data.language.replace(to_replace = 'English', value = 1)
movie_data.language = movie_data.language.replace(to_replace = 'NaN', value = 1)

#replaces the other values to 0
for item in movie_data.language:
    if item != 1:
        movie_data.language = movie_data.language.replace(to_replace = item, value = 0)
        
#print(movie_data['language'])

#makes sure that there is nog error where it shouldn't be
pd.options.mode.chained_assignment= None
print('Done')

Done

# Chaning Content_Rating to Numeric

In [9]:
def content_to_numerical(data):
    data = data.replace(to_replace='G', value=0)
    data = data.replace(to_replace='PG', value=12)
    data = data.replace(to_replace='PG-13', value=13)
    data = data.replace(to_replace='R', value=17)
    data = data.replace(to_replace='NC-17', value=17)
    
    data = data.replace(to_replace='TV-PG', value=12)
    data = data.replace(to_replace='TV-MA', value=17)
    data = data.replace(to_replace='TV-G', value=0)
    data = data.replace(to_replace='TV-Y', value=0)
    data = data.replace(to_replace='TV-Y7', value=7)
    data = data.replace(to_replace='TV-14', value=14)
    
    data = data.replace(to_replace='Not Rated', value=0)
    data = data.replace(to_replace='Unrated', value=0)
    data = data.replace(to_replace='Approved', value=0)
    data = data.replace(to_replace='Passed', value=0)
    
    data = data.replace(to_replace='X', value=17)
    data = data.replace(to_replace='M', value=17)
    data = data.replace(to_replace='GP', value=12)
    
    return data

movie_data = content_to_numerical(movie_data)
print(movie_data)

      actor_1_facebook_likes  actor_2_facebook_likes  actor_3_facebook_likes  \
0                     1000.0                   936.0              855.000000
1                    40000.0                  5000.0             1000.000000
2                    11000.0                   393.0              161.000000
3                    27000.0                 23000.0            23000.000000
5                      640.0                   632.0              530.000000
6                    24000.0                 11000.0             4000.000000
7                      799.0                   553.0              284.000000
8                    26000.0                 21000.0            19000.000000
9                    25000.0                 11000.0            10000.000000
10                   15000.0                  4000.0             2000.000000
11                   18000.0                 10000.0              903.000000
12                     451.0                   412.0              393.000000
13                   40000.0                  5000.0             1000.000000
14                   40000.0                  2000.0             1000.000000
15                   15000.0                  3000.0              748.000000
16                   22000.0                   216.0              201.000000
17                   26000.0                 21000.0            19000.000000
18                   40000.0                 11000.0             1000.000000
19                   10000.0                   816.0              718.000000
20                    5000.0                   972.0              773.000000
21                   15000.0                 10000.0              963.000000
22                     891.0                   882.0              738.000000
23                    5000.0                   972.0              773.000000
24                   16000.0                  6000.0             1000.000000
25                    6000.0                   919.0               84.000000
26                   29000.0                 14000.0              794.000000
27                   21000.0                 19000.0            11000.000000
28                   14000.0                 10000.0              627.000000
29                    3000.0                  2000.0             1000.000000
30                     883.0                   563.0              393.000000
...                      ...                     ...                     ...
5008                   898.0                   657.0              216.000000
5009                     0.0                     0.0              653.779595
5010                    26.0                     6.0                3.000000
5011                   136.0                   108.0                7.000000
5012                  1000.0                   206.0              120.000000
5013                    93.0                    46.0               42.000000
5014                   986.0                   918.0              492.000000
5015                     5.0                     0.0                0.000000
5016                   313.0                    25.0                9.000000
5017                   370.0                   184.0              138.000000
5018                    51.0                    49.0                4.000000
5019                   630.0                   512.0              265.000000
5021                   830.0                   224.0               10.000000
5022                   147.0                    19.0                4.000000
5023                   331.0                   212.0              211.000000
5024                   407.0                    91.0               86.000000
5025                   462.0                   143.0              105.000000
5026                   576.0                   133.0               45.000000
5027                     5.0                     0.0                0.000000
5028                    10.0                     5.0                0.000000
5029                    89.0                    13.0                6.000000
5031                   785.0                    98.0               84.000000
5033                   291.0                    45.0                8.000000
5034                     0.0                     0.0                0.000000
5035                   121.0                    20.0                6.000000
5036                    45.0                    44.0                2.000000
5037                   296.0                   205.0              133.000000
5040                     0.0                     0.0                0.000000
5041                   946.0                   719.0              489.000000
5042                    86.0                    23.0               16.000000

      aspect_ratio        budget  cast_total_facebook_likes  color  \
0         1.780000  2.370000e+08                       4834    1.0
1         2.350000  3.000000e+08                      48350    1.0
2         2.350000  2.450000e+08                      11700    1.0
3         2.350000  2.500000e+08                     106759    1.0
5         2.350000  2.637000e+08                       1873    1.0
6         2.350000  2.580000e+08                      46055    1.0
7         1.850000  2.600000e+08                       2036    1.0
8         2.350000  2.500000e+08                      92000    1.0
9         2.350000  2.500000e+08                      58753    1.0
10        2.350000  2.500000e+08                      24450    1.0
11        2.350000  2.090000e+08                      29991    1.0
12        2.350000  2.000000e+08                       2023    1.0
13        2.350000  2.250000e+08                      48486    1.0
14        2.350000  2.150000e+08                      45757    1.0
15        2.350000  2.250000e+08                      20495    1.0
16        2.350000  2.250000e+08                      22697    1.0
17        1.850000  2.200000e+08                      87697    1.0
18        2.350000  2.500000e+08                      54083    1.0
19        1.850000  2.250000e+08                      12572    1.0
20        2.350000  2.500000e+08                       9152    1.0
21        2.350000  2.300000e+08                      28489    1.0
22        2.350000  2.000000e+08                       3244    1.0
23        2.350000  2.250000e+08                       9152    1.0
24        2.350000  1.800000e+08                      24106    1.0
25        2.350000  2.070000e+08                       7123    1.0
26        2.350000  2.000000e+08                      45223    1.0
27        2.350000  2.500000e+08                      64798    1.0
28        2.350000  2.090000e+08                      26679    1.0
29        2.000000  1.500000e+08                       8458    1.0
30        2.350000  2.000000e+08                       2039    1.0
...            ...           ...                        ...    ...
5008      1.370000  2.300000e+05                       2103    0.0
5009      1.370000  2.700000e+04                          0    1.0
5010      1.370000  3.989292e+07                         40    1.0
5011      1.850000  2.500000e+04                        254    1.0
5012      1.850000  3.500000e+07                       1458    1.0
5013      1.780000  2.400000e+04                        243    1.0
5014      2.350000  3.989292e+07                       3197    1.0
5015      1.370000  2.300000e+04                          5    0.0
5016      2.128434  2.500000e+04                        366    1.0
5017      1.780000  2.200000e+04                        841    1.0
5018      1.850000  2.000000e+04                        108    1.0
5019      1.850000  3.989292e+07                       2679    1.0
5021      2.128434  1.500000e+04                       1064    1.0
5022      2.128434  1.500000e+04                        170    0.0
5023      2.350000  1.500000e+04                       1546    1.0
5024      2.350000  2.000000e+04                        674    1.0
5025      1.370000  1.000000e+04                        760    1.0
5026      2.350000  4.500000e+03                        776    1.0
5027      1.850000  1.000000e+04                          5    1.0
5028      1.330000  1.000000e+04                         15    0.0
5029      1.850000  1.000000e+06                        115    1.0
5031     16.000000  2.000000e+05                       1111    1.0
5033      1.850000  7.000000e+03                        368    1.0
5034      2.128434  7.000000e+03                          0    1.0
5035      1.370000  7.000000e+03                        147    1.0
5036      2.128434  3.250000e+03                         93    1.0
5037      2.128434  9.000000e+03                        690    1.0
5040      2.128434  1.400000e+03                          0    1.0
5041      2.350000  3.989292e+07                       2386    1.0
5042      1.850000  1.100000e+03                        163    1.0

      content_rating  country  director_facebook_likes    ...      Drama  \
0               13.0        1                      0.0    ...          0
1               13.0        1                    563.0    ...          0
2               13.0        0                      0.0    ...          0
3               13.0        1                  22000.0    ...          0
5               13.0        1                    475.0    ...          0
6               13.0        1                      0.0    ...          0
7               12.0        1                     15.0    ...          0
8               13.0        1                      0.0    ...          0
9               12.0        0                    282.0    ...          0
10              13.0        1                      0.0    ...          0
11              13.0        1                      0.0    ...          0
12              13.0        0                    395.0    ...          0
13              13.0        1                    563.0    ...          0
14              13.0        1                    563.0    ...          0
15              13.0        1                      0.0    ...          0
16              12.0        1                     80.0    ...          0
17              13.0        1                      0.0    ...          0
18              13.0        1                    252.0    ...          0
19              13.0        1                    188.0    ...          0
20              13.0        0                      0.0    ...          0
21              13.0        1                    464.0    ...          0
22              13.0        1                      0.0    ...          1
23              13.0        1                      0.0    ...          0
24              13.0        1                    129.0    ...          0
25              13.0        0                      0.0    ...          1
26              13.0        1                      0.0    ...          1
27              13.0        1                     94.0    ...          0
28              13.0        1                    532.0    ...          0
29              13.0        1                    365.0    ...          0
30              13.0        0                      0.0    ...          0
...              ...      ...                      ...    ...        ...
5008            17.0        1                      0.0    ...          0
5009             0.0        1                      0.0    ...          1
5010             NaN        1                     26.0    ...          1
5011            17.0        0                    119.0    ...          1
5012            17.0        1                    453.0    ...          1
5013             NaN        1                      3.0    ...          1
5014            17.0        0                    892.0    ...          0
5015            17.0        1                      0.0    ...          1
5016             NaN        1                      0.0    ...          1
5017             NaN        1                    138.0    ...          0
5018             NaN        1                    589.0    ...          1
5019            17.0        1                    158.0    ...          0
5021            17.0        1                    157.0    ...          1
5022             NaN        0                      0.0    ...          1
5023             NaN        1                     38.0    ...          0
5024             0.0        1                     91.0    ...          0
5025            17.0        1                      0.0    ...          0
5026            17.0        0                    107.0    ...          1
5027             0.0        0                    397.0    ...          1
5028             NaN        0                     18.0    ...          0
5029             NaN        0                     62.0    ...          0
5031             NaN        1                    120.0    ...          0
5033            13.0        1                    291.0    ...          1
5034             0.0        0                      0.0    ...          0
5035            17.0        1                      0.0    ...          1
5036            13.0        1                      2.0    ...          1
5037             0.0        1                      0.0    ...          1
5040             NaN        1                      0.0    ...          1
5041            13.0        1                      0.0    ...          1
5042            12.0        1                     16.0    ...          0

      Action  Documentary  Musical  History  Family  Fantasy  Game-Show  \
0          1            0        0        0       0        1          0
1          1            0        0        0       0        1          0
2          1            0        0        0       0        0          0
3          1            0        0        0       0        0          0
5          1            0        0        0       0        0          0
6          1            0        0        0       0        0          0
7          0            0        1        0       1        1          0
8          1            0        0        0       0        0          0
9          0            0        0        0       1        1          0
10         1            0        0        0       0        0          0
11         1            0        0        0       0        0          0
12         1            0        0        0       0        0          0
13         1            0        0        0       0        1          0
14         1            0        0        0       0        0          0
15         1            0        0        0       0        1          0
16         1            0        0        0       1        1          0
17         1            0        0        0       0        0          0
18         1            0        0        0       0        1          0
19         1            0        0        0       1        1          0
20         0            0        0        0       0        1          0
21         1            0        0        0       0        1          0
22         1            0        0        1       0        0          0
23         0            0        0        0       0        1          0
24         0            0        0        0       1        1          0
25         1            0        0        0       0        0          0
26         0            0        0        0       0        0          0
27         1            0        0        0       0        0          0
28         1            0        0        0       0        0          0
29         1            0        0        0       0        0          0
30         1            0        0        0       0        0          0
...      ...          ...      ...      ...     ...      ...        ...
5008       0            0        0        0       0        0          0
5009       0            0        0        0       0        1          0
5010       0            0        0        0       0        0          0
5011       0            0        0        0       0        0          0
5012       1            0        0        0       0        0          0
5013       0            0        0        0       1        0          0
5014       1            0        0        0       0        0          0
5015       0            0        0        0       0        0          0
5016       0            0        0        0       0        0          0
5017       0            0        0        0       0        0          0
5018       0            0        0        0       0        0          0
5019       0            0        0        0       0        0          0
5021       0            0        0        0       0        0          0
5022       0            0        0        0       0        0          0
5023       0            0        0        0       0        0          0
5024       0            0        0        0       0        0          0
5025       0            0        0        0       0        0          0
5026       0            0        0        0       0        0          0
5027       0            0        0        0       0        0          0
5028       0            0        0        0       0        0          0
5029       0            0        0        0       0        0          0
5031       0            0        0        0       0        0          0
5033       0            0        0        0       0        0          0
5034       0            0        0        0       0        0          0
5035       1            0        0        0       0        0          0
5036       0            0        0        0       0        0          0
5037       0            0        0        0       0        0          0
5040       0            0        0        0       0        0          0
5041       0            0        0        0       0        0          0
5042       0            1        0        0       0        0          0

      Sport  Biography
0         0          0
1         0          0
2         0          0
3         0          0
5         0          0
6         0          0
7         0          0
8         0          0
9         0          0
10        0          0
11        0          0
12        0          0
13        0          0
14        0          0
15        0          0
16        0          0
17        0          0
18        0          0
19        0          0
20        0          0
21        0          0
22        0          0
23        0          0
24        0          0
25        0          0
26        0          0
27        0          0
28        0          0
29        0          0
30        0          0
...     ...        ...
5008      0          0
5009      0          0
5010      0          0
5011      0          0
5012      0          0
5013      0          0
5014      0          0
5015      0          0
5016      0          0
5017      0          0
5018      0          0
5019      0          0
5021      0          0
5022      0          0
5023      0          0
5024      0          0
5025      0          0
5026      0          0
5027      0          0
5028      0          0
5029      0          0
5031      0          0
5033      0          0
5034      0          0
5035      0          0
5036      0          0
5037      0          0
5040      0          0
5041      0          0
5042      0          0

[4900 rows x 43 columns]

In [10]:
print(movie_data.color.describe())
print(movie_data.country.describe())
print(movie_data.language.describe())

count    4900.000000
mean        0.955918
std         0.205297
min         0.000000
25%         1.000000
50%         1.000000
75%         1.000000
max         1.000000
Name: color, dtype: float64
count    4900.000000
mean        0.757347
std         0.428731
min         0.000000
25%         1.000000
50%         1.000000
75%         1.000000
max         1.000000
Name: country, dtype: float64
count    4900.000000
mean        0.935102
std         0.246371
min         0.000000
25%         1.000000
50%         1.000000
75%         1.000000
max         1.000000
Name: language, dtype: float64